[2020-05-19 06:49] robbr48 commented on #991
`intermediateStepFinished == false` is only intended to be used for variables with a communication delay, which must be greater than the internal solver step in the FMU. This will prevent the lockup situation you describe. The master can interpolate intermediate inputs for FMU A without depending on a recalculation in FMU B, since the time frame where the two FMUs are independent is always greater

[2020-05-19 10:04] klausschuch commented on #991
@KarlWernersson
I think that we don't have to extend the specification.
If there are 2 FMUs (and for simplicity both dostep functions are called same communication steps size), the master has two options: (a) call both dostep functions sequentially or (b) call both dostep functions in parallel in two separate threads.

(a) If the master calls both sequentially, the master has gathered all informat

[2020-05-19 11:10] chrbertsch commented on #793
Isn't a basic property of FMI 2.0 CS that (typically or mandatorily?) unlike in FMI 2.0 the computations are triggered by the doStep, while in FMI2.0 ME they are triggered by fmi2getXXX. Doesn't this significantly simplify things for the exporting tools regarding an efficient implementation (not having to care much about caching etc. )

[2020-05-19 16:56] andreas-junghanns commented on #991
@KarlWernersson : Did today´s discussion help clarify this issue? Can we close?

[2020-05-19 17:18] andreas-junghanns commented on #793
I am not sure about the modelPartitions for plant models, but for vECUs I can explain this:
Calling a task may advance the internal (discrete) time (like a counter) of the control algorithm (most of them have no access to "time" but only know ticks).

[2020-05-19 17:24] andreas-junghanns commented on #793
Similar to my comment in #991: intermediateUpdate is not to propagate values between FMUs - communication points are for that. So intermediateUpdate is not supposed to (and I think cannot if we describe it right) allow for direct feedthrough outside of the FMU.

I think we should keep things simple inside intermediateUpdate - if you need more information, you can always stop the doStep with earlyR

[2020-05-19 19:02] chrbertsch commented on #793
That makes sense.

So to clarify: in HCS for an event we have the idea of super dense time, so one can iterate without advancing in time by setting  inputs, calling fmi3NewDiscreteStates, getting outputs several times.  We had the idea that a SCS FMU can be wrapped as a HCS FMU. But if we map  a modelPartition activation  to a clock to a   `fmi3NewDiscreteStates` call, we must prevent that this co

[2020-05-19 20:44] chrbertsch opened #993 "Clarify meaning of IntermediateSteps"
According to the discussion ( https://github.com/modelica/fmi-design/tree/master/Meetings/2020-05-19-Regular-FMI-Design%20Webmeeting#991-intermediatestepfinished)  in today's regular design webmeeting, we have to clarify the meaning of Intermediate steps.

I propose to further discuss the open point here in order then soon prepare a PR:

**Questions to clarify/define**:

**What is an intermediateS

[2020-05-20 09:18] robbr48 commented on #993
The use-cases for `intermediateStepFinished==fmi3False` is when intermediate outputs from the FMU are required to compute the intermediate inputs. This is useful only for transmission line modelling I think. In practice, a small part of the equation system is placed in the master simulation tool in order to keep the interface cleaner. Instead of FMUs exchanging hard-to-understand variables such as

[2020-05-20 10:04] andreas-junghanns commented on #993
What I read here from @robbr48 (please correct if wrong!):
The reading of intermediate outputs (== dashed line in the picture) is required for the transmission line modeling use case.

If correct, this means we cannot forbid reading outputs (fmi3Get{VariableType} for outputs) even if intermediateStepFinished==fmi3False.

@robbr48 : please confirm! thanks you!

[2020-05-20 10:21] andreas-junghanns commented on #793
You have to do the same kind of book keeping any OS scheduler has to do that works with activation flags (aka triggers, activate calls,...). OS schedulers do this implicitly when operate on priorities and resources etc.  So I am sure this can be done, and should be as much as we should care about here now. Right?

[2020-05-20 11:36] robbr48 commented on #993
@andreas-junghanns Confirmed.

In fact, the only reason for having the `intermediateStepFinished` flag is to distinguish temporary output variables from non-temporary ones. Forbidding reading outputs when this flag is true would make the flag meaningless.

[2020-05-20 12:29] andreas-junghanns commented on #993
Actually, the idea was to forbid it when intermediateStepFinished==fmi3False.
Can you confirm that this is the understanding (you wrote "true" above, which confused me).

[2020-05-20 13:04] robbr48 commented on #993
My mistake, I meant to write "false".

We can already forbid reading outputs by setting `intermediateVariableGetAllowed == fmi3False`. What would the purpose be of having another flag that also forbids reading outputs?

In either case, reading outputs when `intermediateStepFinished == fmi3False` is required for the  transmission line method.

[2020-05-21 22:00] t-sommer commented on #990
Try this

[code]

since code won't be formatted as italic anyways.

[2020-05-22 20:11] chrbertsch opened #998 "Add description of intermediate{VariableGet,InternalVariableGet,VariableSet}Required"
(three TODOs in https://fmi-standard.org/docs/3.0-dev/#creation-destruction-and-logging)

Besides the instantiation functions I do not find any description or reference to these functions

    fmi3Boolean                    intermediateVariableGetRequired,
    fmi3Boolean                    intermediateInternalVariableGetRequired,
    fmi3Boolean                    intermediateVariableSetRequired,

[2020-05-23 06:19] chrbertsch opened #1000 "Improve description of clocks"
In 2.1.8.1.1 (https://fmi-standard.org/docs/3.0-dev/#clock-types-for-evaluation-of-clocked-model-partitions) the text needs improvement:

Synchronous clocks:

*  `active `and `subactive `are used in the definition of synchronous clocks, but are not defined.
see also https://github.com/modelica/fmi-standard/issues/890
Here a try:
  -- A clock is called `active` (also denoted as the clock "ticking")

[2020-05-23 08:55] chrbertsch commented on #890
I still do not get the meaning of "subactive". I even do not understand the English word ... Is subactive=passsive?

Synchronous clocks are only relevant for ME.
Why not evaluate outputs that depend on the discrete time states (that can change when the clock is active) just with an fmi3getXXX call? Is it forbidden to to access discrete time states associated with a clock from such an fmi3getXXX ca

[2020-05-23 12:57] chrbertsch opened #1002 "Use reverse domain notation for tool speficific standards for terminals"
For future tool-specific standards for terminals, in https://fmi-standard.org/docs/3.0-dev/#_terminals it is recommended

However, in two other places of the FMI standard, where we refer to layered standards (namely the /extra directory (in https://fmi-standard.org/docs/3.0-dev/#fmu-distribution) and the new Annotations  (https://github.com/modelica/fmi-standard/pull/949) ) we explicitly prescribe

[2020-05-23 13:20] chrbertsch opened #1003 "Why must initial dimension sizes be positive?"
In https://fmi-standard.org/docs/3.0-dev/#definition-of-model-variables it is stated

Why do we have the restriction, that no dimension may initially vanish, while later in re-configuration we allow this?

( I do not understand the argument

in https://fmi-standard.org/docs/3.0-dev/#structuralParameter

[2020-05-23 13:50] #990 closed

[2020-05-23 14:03] #386 closed

[2020-05-23 14:03] #945 closed

[2020-05-23 14:06] chrbertsch opened #1005 "What is a "master clock"?"
In https://fmi-standard.org/docs/3.0-dev/#definition-of-model-variables in the definition of `initial`, it is written

What is a master clock? Is this correct?

(Also fix contidion -->condition)

[2020-05-23 14:15] chrbertsch opened #1006 "canHandleMultipleSetPerTimeInstant still references CS FMUs, should be changed to xCS"
The text in https://fmi-standard.org/docs/3.0-dev/#canHandleMultipleSetPerTimeInstant still references CS FMUs, should be checked and changed to xCS

possibly related to https://github.com/modelica/fmi-standard/issues/793 (Feedthrough at events of HCS?)

[2020-05-23 14:27] andreas-junghanns commented on #1003
@klausschuch : Can you please comment? I remember we exchanged arguments, but the description can be improved, I agree with @chrbertsch here. (You may leave the argument here as comment, we can work it into the text.)

[2020-05-23 14:38] andreas-junghanns commented on #1005
The next sentence also as "...an start..." which needs fixing.

However, someone should explain the entire paragraph - it makes little sense to me.

Who can help here?

[2020-05-23 15:40] chrbertsch opened #1008 "Improve table for default value of initial"
Due to a light form of red–green color blindness, I personally cannot clearly distinguish between  the colors of the table

![grafik](https://user-images.githubusercontent.com/16363372/82734184-74f24880-9d19-11ea-8d94-dcd4dc50a0b7.png)
in https://fmi-standard.org/docs/3.0-dev/#definition-of-model-variables

Looking at the adoc-file, I see that we have  green, maroon, red, aqua. ....
But even if I

[2020-05-23 15:54] chrbertsch opened #1009 "Improve table for allowed combinations of variability and causality"
similar to #1008, for a discussion on the colour coding see there.

The colour coding for the entry for clocks is wrong:
![grafik](https://user-images.githubusercontent.com/16363372/82734893-1c717a00-9d1e-11ea-8994-754127fea90e.png)
should be green, right?

The comment (18) on allowed combinations is meaningless:
![grafik](https://user-images.githubusercontent.com/16363372/82734906-3743ee80-9d1e-1

[2020-05-23 18:20] chrbertsch opened #1010 "Improve Definition of model structure"
This is ticket to collect possible improvements of the model structure definition https://fmi-standard.org/docs/3.0-dev/#ModelStructure to prepare a PR

- the usage of bold should be changed (according tohttps://github.com/modelica/fmi-standard/blob/master/CONTRIBUTING.adoc#font-styles  it should only be used for FMU states, and not for  important sentences like
![grafik](https://user-images.githu

[2020-05-23 18:50] chrbertsch opened #1011 "Improve 2.3 FMU distribution"
- improve wording of first sentences  ("An FMU description consists of several files. An FMU implementation may be distributed  .... " " The implementation implements ..."
- the "optional" information move to next lines depending on zoom factor
![grafik](https://user-images.githubusercontent.com/16363372/82738460-fa84f100-9d37-11ea-9a65-6913e7349bd7.png)

- Currently only the possibility two have

[2020-05-23 19:43] chrbertsch opened #1012 "Improve 2.4 Common concepts for Co-simulation"
- ~~"In FMI for Co-Simulation, both functions ... " --> "... both groups of functions".~~
- ~~" ... evaluates the subsystem inputs u(tci), ..." can be misunderstood. --> "... determines ..."?~~
- ~~" the ability to provide derivatives of outputs w.r.t. time, to allow interpolation (Section 4.2.1)," should be changed to "... to allow input approximation"~~
- ~~throughout the documentation we synono

[2020-05-24 09:01] chrbertsch opened #1015 "Review 3.1 (ME mathematical description)"
- ~~What does "that give the smallest time instant" in the sentence~~ Use "earliest" as suggested previously.

~~mean?~~

- ~~add line break before "All the following events are internal events."~~

- ~~fix formatting of  "stem[t_0]" in 3.1.2.1~~

- ~~Generally, https://fmi-standard.org/docs/3.0-dev/#math-model-exchange seems not to be adapted enough for the new clock features. Especially: Change

[2020-05-24 18:19] chrbertsch commented on #989
While in the xCS types there are lists of "Allowed function calls" and "Forbidden function calls" for almost each node, this is completely missing for ME. So with  merging #982 essential information was removed and this needs an urgent fix!

[2020-05-24 18:28] chrbertsch opened #1016 "Review of 3.2 (ME API)"
https://fmi-standard.org/docs/3.0-dev/#_application_programming_interface:
If the super-dense time before a call to
-  [x] explain argument `x`; describe or reference internal order of the argument x of `fmi3SetContinuousStatesTYPE`, also referring to array serialization
![grafik](https://user-images.githubusercontent.com/16363372/82750631-b0d8ec80-9db1-11ea-9017-c67c1c824e6b.png)

- [x] In explan

[2020-05-24 18:36] #1010 closed

[2020-05-24 18:38] chrbertsch opened #1017 "Rename providesDirectionalDerivative and providesAdjointDerivative to plural"
The singular sounds strange.
I would rename these capability flags to `providesDirectionalDerivatives `and `providesAdjointDerivatives`

Other opinions?

[2020-05-24 19:00] chrbertsch opened #1018 "Review of 3.3 (ME schema)"
- ~~providesAdjointDerivative
![grafik](https://user-images.githubusercontent.com/16363372/82761846-c2e07c80-9dfd-11ea-9686-08b3656cb0c4.png)
--> addresssed by PR #1021~~

- ~~reformat
![grafik](https://user-images.githubusercontent.com/16363372/82762447-55cee600-9e01-11ea-9401-5e1f4472397d.png)
(at least chaning "." to ":", possibly creating a list and stating "for return values of data type bool

[2020-05-24 20:21] chrbertsch opened #1019 "Review of chapter 4 (BCS)"
- ~~Fix formatting of
![grafik](https://user-images.githubusercontent.com/16363372/82762616-4c924900-9e02-11ea-828b-68f4f544830a.png)
--> fixed in https://github.com/chrbertsch/fmi-standard/tree/fix-formatting-issues~~
- ~~define "hybrid ODE" in glossary~~ added to PR #941
- [x] Add to non normative text
![grafik](https://user-images.githubusercontent.com/16363372/82762730-fc67b680-9e02-11ea-815f-

[2020-05-25 12:35] TorstenBlochwitz opened #1020 "Is NULL allowed for argument resourceLocation of fmi3InstantiateXXX functions?"
I think we should explicitly clarify if NULL is allowed or not for the argument "resourceLocation" of the fmi3InstantiateXXX functions.

[2020-05-25 12:51] chrbertsch commented on #1020
As the resources directory was made mandatory with https://github.com/modelica/fmi-standard/pull/833,

[code]
a NULL pointer for resourceLocation should be forbidden. As a NULL pointer is no URI, IMHO it is already forbidden (see https://github.com/modelica/fmi-standard/issues/814) . Perhaps we should write this  more explicitely. @TorstenBlochwitz : could you please propose wording?

Or are there

[2020-05-25 17:56] chrbertsch opened #1022 "Review of Chapter 5 (HCS)"
5.2.1 :

- ~~Delete sentence "In other cases a null pointer can be assigned to the fmi3CallbackIntermediateUpdate callback, for instance when the interface type is Model Exchange." as this is the HCS Description.~~

- ~~Define "Newtonian time instant" in glossary.~~

- ~~"There may be an event iteration in Event Mode at a Newtonian time instant and have super-dense time instants." sounds strange~~

[2020-05-25 19:42] chrbertsch opened #1023 "Review of Chapter 6 (SCS)"
6.2.2:

- Question on "It is not allowed to call `fmi3ActivateModelPartition`for a clockReference and clockElementIndex (i.e. valueReference of clock variable and element index into that for arrays) more than once for the same activationTime ti." : is it allowed to call `fmi3ActivateModelPartition` for an activation time ti < the last activation time t_(i-1)? I do not think so, but I cannot find i

[2020-05-26 07:28] chrbertsch commented on #793
We should create an example for an event iteration with direct feedthrough for a "Coupled clutches example" split into multiple HCS FMUs in reference FMUs.
There the decision which clutch is open or not depends on the other clutch and must be iterated at an event. This will showcase the use case for direct feedthrough at events in HCS.
@KarlWernersson : could you perhaps prepare such an example?

[2020-05-26 07:52] chrbertsch commented on #993
(Discussion Andreas J, Christian B)
Input must be smooth on whole interval, may not depend on information on unfinished steps from this or other FMUs.

[2020-05-26 08:03] andreas-junghanns commented on #993
To be clear: smooth in the entire interval, but the interpolation may change at points when the FMU reported "intermedateStepFinished" (the black dots).
If a discrete change of inputs is required, the master must force a communication step with earlyReturn.

[2020-05-26 12:34] TorstenBlochwitz commented on #1020
I see two possibilities here:

1. If the FMU runs on a target without file system or without network connection (https, http and ftp are allowed as URI too) NULL is provided for resourceLocation.

2. We forbid NULL as argument here, which implicitly implies that FMUs can trust to be executed on platforms with file system (or a network connection).

[2020-05-26 12:42] chrbertsch commented on #1020
I think 1. is incompatible with making the resources folder mandatory. We even require, that the FMU must handle file URIs, so an network connection is not enough ... If we go for 1., we should revert making the resources folder mandatory and allow a return of NULL for resources location only, if the resources folder in the FMU is not present. (Otherwise how could the FMU be simulated, if it relie

[2020-05-26 12:53] andreas-junghanns commented on #1020
We have always also targeted embedded platforms without file systems.
We (I) missed this point back then and unless we want to restrict target platforms, the resourceLocation must be optional and NULL must be valid.
Many FMUs do not need additional resources and many tools have special options for exporting to platforms without file access (e.g. Silver has that).

[2020-05-26 13:12] sjoelund commented on #1020
Why not simply allow returning an error code if `NULL` was passed and the FMU cannot simulate without the resources? Because it might be that there is something essential there (such as a lookup table)

[2020-05-26 13:16] andreas-junghanns commented on #1020
Of course, this is the error handling. We are discussing here what the standard should mandate. We are trying to be strict wherever we can to remove ambiguities and simplify implementations and ease error detection. We just detected that we cannot be as strict as we thought a few days ago.

[2020-05-26 13:38] pmai commented on #1020
At the time I was very slightly favouring keeping the resource folder optional and allowing NULL, which seems to me the less restrictive solution (and implementations will have to guard against NULL anyway, just for sanity, regardless of what we specify in the standard).

[2020-05-26 20:45] #1011 closed

[2020-05-26 21:52] andreas-junghanns commented on #1015
I think we can improve clarity here with "that give the earliest time instant". Does that make more sense to you?

[2020-05-27 08:50] chrbertsch commented on #1012
@andreas-junghanns : but what does the last part of the sentence
![grafik](https://user-images.githubusercontent.com/16363372/82998134-a0ba4a80-a007-11ea-92a1-08e0ec131418.png)
mean?

[2020-05-27 09:36] jph-tavella commented on #369
I would like to say that I support Karl's idea (being able to set input start values before fmi2EnterInitializationMode).
Indeed at EDF we are regularly confronted with the need to modify our models before FMU export, simply because of bad start value of some inputs, when the Master can do it easily.

[2020-05-27 10:04] andreas-junghanns commented on #369
@KarlWernersson : is this only about relaxing the constraints on which variables one can call fmi3Set{VariableType} on? Can you create a PR to show what needs to be changed?

@all: If we relax the currently present constraints to allow setting of inputs before fmi3EnterInitializationMode() do you see issues with that? (I don´t.)

[2020-05-27 10:31] andreas-junghanns commented on #1012
Events in the Modelica sense require quite some machinery to properly handle.
In many simpler use cases, it is sufficient to know that an event occurred at a given point in time, notify everyone about the event and the timing, give them a chance to do "their thing" and then go on.
Use case: a plant model triggers crank-shaft synchronous interrupts for the controller to handle injection and ignitio

[2020-05-27 19:23] andreas-junghanns opened #1027 "Case for headings"
... are currently inconsistent.
We need to define how to write headings and then fix them.

[2020-05-27 19:29] chrbertsch commented on #1015
I would state it that way:
An event can occur due to one of the following conditions; the next event instance t_i is defined by the earliest occurance of one of them:

[2020-05-27 19:39] chrbertsch commented on #814
So there seems to be broad support to revert #833  and
- make the resource folder optional
- clearly describe to return a  NULL pointer, if the environment cannot provide the resource location
-- either because there is no resource folder in the FMU
-- or because due to other reasons it cannot provide an URI to that location (e.g., because there is no filesystem)

(The importer can check in advanc

[2020-05-27 19:42] andreas-junghanns commented on #1015
Can we find a shorter description, preferably without semicolon?
What about removing everything until and including the semicolon?

"The next event instance t_i is defined by the earliest occurance of one of the following conditions:"

Note: PR #1028 does not contain this fix yet - feel free to change the PR if you like this proposal.

[2020-05-27 19:43] #1012 closed

[2020-05-27 20:02] andreas-junghanns commented on #814
No objections - will you create the PR?

[2020-05-27 20:05] andreas-junghanns commented on #814
Should we continue the discussion in the open ticket #1020?

[2020-05-27 20:08] andreas-junghanns commented on #1018
Can we close this issue? Your points are all deleted...

[2020-05-27 20:10] chrbertsch opened #1029 "Collect possible content for implementers guide"
Regularly an "FMI implementers guide" gets mentioned in discussions (and was there for FMI 1.0)
Let's collect "Boundary conditions" and possible content

Boundary conditions:
- It could be living document (perhaps a Wiki?), that is regularly updated.
- non-normative
...

Possible conent:
- as mentioned in https://github.com/modelica/fmi-standard/issues/1015#issue-623824305:
Remark 1 in https://fmi

[2020-05-27 20:12] #1018 closed

[2020-05-27 20:22] andreas-junghanns commented on #1029
Much better: a version of the FMI Implementer´s Guide already exists.

What we need to define what should be in there and what should NOT be in there because it belongs into the standard document.

One extreme would be to say: all non-normative text should be in the FMI IG. But I think the standard document should be understandable on its own. The FMI IG should contain tips and tricks that explain

[2020-05-28 08:03] #1023 closed

[2020-05-28 12:00] IZacharias opened #1033 "Nested attributeGroups and lists in ModelDescription schema"
The modelDescription schema contains constructs that are problematic for tools such as xsd2code and Windows SDK xsd.exe. This is inconvenient for FMU importers who uses these tools.
For these parts, the code generators generate no code:

- lists defined in this way:

				<xs:attribute name="start">
					<xs:simpleType>
						<xs:list>
							<xs:simpleType>
								<xs:restriction base="xs:double"

[2020-05-28 12:11] IZacharias opened #1034 "Missing Dimension and Annotations element for Enumerations in ModelDescription schema"
In ModelDescription schema, Enumeration is the only variable without Dimension and without Annotations element:

![image](https://user-images.githubusercontent.com/33029000/83139518-ce2cf400-a0ec-11ea-8e3b-9f2f96ad2438.png)

Is that intentional or accidental?

[2020-05-28 12:39] pmai commented on #1033
For the lists this might be an artefact of some past try at restrictions, or some other refactorings going on, I think we should change them as proposed.

For the nested attribute groups this seems more problematic, since not nesting these would mean duplications in definitions (and less obvious commonalities). Maybe a simple xslt-preprocessing prior to ingestion by xsd.exe/xsd2code would be suffi

[2020-05-28 12:52] pmai commented on #1034
That seems to be an accident in the way that enumeration has been defined, thus dropping the stuff that should have been inherited from fmi3VariableBase. Don't know the history of this definition...

[2020-05-28 12:54] pmai commented on #1034
Probably accidentally caused by 4fab32729ae350a1e8657342bc8680376a4898ac

[2020-05-28 13:08] andreas-junghanns commented on #1017
Discussion at web design meetings:
Poll: agree with proposal:
Agree: Christian, AndreasJ, Otto, TorstenB, Pierre,
Disagree: None
Abstain:

Accepted!

[2020-05-28 13:08] pmai commented on #1002
@chrbertsch we followed the reverse domain name way in SSP, and that translated to the extra and annotations in FMI. It is a common way of allowing distributed namespaces by leveraging the DNS to provide clash-resistance, and allowing intermediate stuff (not vendor-specific, yet not core standard). So I think terminal standards should probably switch to this as well, unless there are strong reason

[2020-05-28 13:20] andreas-junghanns commented on #1027
Poll: use upper-case style for all headings
Agreed: Andreas, Klaus,
Disagree: None
Abstain: Christian

Agreed.

[2020-05-28 13:20] pmai opened #1035 "Add general rule on NULL pointers in common API description"
Add a general rule sentence to the beginning of the common API section stating that NULL pointers are not valid argument values to functions unless explicitly allowed (see #1030 for an explicit exception).

[2020-05-28 13:40] pmai commented on #1035
Discussion in Webex 2020-05-28: Further add rationale for cross-platform stuff, e.g. if you do file-system stuff, use common cross-platform coding techniques, FMI does not provide a portability layer, since existence of a file system is not guaranteed, etc.

[2020-05-28 13:41] #1020 closed

[2020-05-28 13:46] andreas-junghanns commented on #940
Discussion at web design meeting:
Klaus: It would be easier to reference elements with ambiguous names in the standard text.
Pierre: It is unclear how often we have to be clear in the document because we reference en element across sections (out of place).
Pierre&TorstenS: We could call the type elements as "Int32Type" and keep the variable elements as "Int32".
Pierre: If we fix the types, we shou

[2020-05-28 13:48] #1017 closed

[2020-05-28 13:57] andreas-junghanns commented on #890
All to Karl: Please clarify the definition and use-case for "subactive".

[2020-05-28 14:12] andreas-junghanns commented on #793
Dsicussion during web design meeting:
Karl: I will try to see if the coupled clutches will work in our old prototype. It is harder to provide 3.0 FMUs for the coupled clutches.
Klaus: Please have a look at examples for 2.0 ME with a more abstract content that would likely also work in showing the ideas.

[2020-05-28 14:37] chrbertsch commented on #665
Discussion at Webmeeting:
Karl: in CS, I do not see the flag ValuesOfContinuasStates, NominalsOfContinuousStates changed in fmi3NewDiscreteState relevant. We should check all the flags of  fmi3NewDiscreteState
Klaus: Is EventInfo still a structure? Didn't we want to get rid of structures?
Karl: then we should change this for ME also. I Personally the structure is nicer
Klaus: some of the variables

[2020-05-28 15:19] clagms commented on #1016
@chrbertsch , by "this" in "this is a general issue" you mean the copying of values, right? If so, I agree that the comment should be made general to all FMI functions but I disagree that it should be removed, because function SetContinuousStates is specific to ME, and this comment should actually not be non-normative text.

I suggest that a similar comment be made about:
- setting array variables

[2020-05-28 19:31] andreas-junghanns commented on #644
@t-sommer : Can you create a PR for this, please?

[2020-05-28 19:32] andreas-junghanns commented on #613
@clagms : Have we worked on this part already? Can we close this?

[2020-05-28 20:41] andreas-junghanns commented on #1029
Ok, first attempt of the two lists, please edit here:

In IG:
 - tips and tricks how to implement robustly and well (beyond correctly), e.g. deal with known issues of
   - compilers/linkers
   - interactions of FMU/master algorithms with the OSs
   - commonly used libraries
 - warnings about commonly made programming errors

Not in IG:
 - standard text
 - non-normative hints/warnings about how to

[2020-05-28 22:38] andreas-junghanns commented on #1022
I think we can now close this ticket. @chrbertsch : do you agree? Can you please check if PR #1038 addresses the 5th point above?

[2020-05-28 22:54] andreas-junghanns commented on #665
@chrbertsch : I am not sure if PR #1038 addresses all the issues raised here. If so, can you please link PR #1038 to this ticket?

[2020-05-29 08:03] clagms opened #1041 "Make argument "number of event indicators" consistent in API and document."
Currently, we're using the following variables to refer to the number of event indicators:
- `nEventIndicators`: Used in function `fmi3EnterEventMode`
- `ni`: Used in function `fmi2GetEventIndicators`
- `nz`: Used in function `fmi3GetNumberOfEventIndicators` and in the mathematical description.

I think these all refer to the same thing.
If that's the case, I propose that we change the API and doc

[2020-05-29 13:14] KarlWernersson opened #1042 "Scrap event information at fmiEnterEventMode"
I apoligze for missing this earlier.

So a change from FMI 2 is that you now can provide information about the event type when you enter Event mode. By the arguments inputEvent, stepEvent, rootsFound, timeEvent.

I see a couple of problems with this.

1. Besides time event all other events can be triggered by reactions to other events. So even if you start with a time event you can easily soon hav

[2020-05-29 13:41] andreas-junghanns commented on #1042
Less arguments? No arguments from me!

[2020-05-29 13:54] andreas-junghanns commented on #1041
I agree that we should use the same for all (There can only be ONE!).

I do not like short names, even with your argument that mathematicians would know that `z` and `nz` are roots. Computing Scientists are less likely to decode this.
If we adapt the names of arguments to the mathematical description, we would likely have to change a number of other parameter names as well.

Can we have the more e

[2020-05-29 14:06] otronarp commented on #1042
I think found (at least some of) the issues that is the reason why they were added: #588 and  #589.

Basically for state events the motivation is to avoid conflicts if the master and FMU uses different epsilon for event hysteresis (https://github.com/modelica/fmi-standard/issues/588#issuecomment-515921263).

[2020-05-29 17:06] clagms commented on #795
I started working on https://github.com/modelica/fmi-standard/pull/1044  for this, focusing on references to tables, figures, and code.

[2020-05-29 22:31] andreas-junghanns commented on #795
Good work - let´s not wait until all is done but merge this part already and then create another PR for the second 50%

[2020-05-30 05:16] #795 closed

[2020-05-30 17:43] #1035 closed

[2020-05-30 17:44] #1034 closed

[2020-05-30 19:17] chrbertsch opened #1045 "Fix description of calculation of clocked variables in ME"
In 3.1 we state
"In FMI 2.0 there is no mechanism that the FMU can provide the information whether a discrete-time variable is active or is not active (is not computed) at an event instant. Therefore, the environment has to assume that at an event instant always all discrete-time variables are computed, although internally in the FMU only a subset might be newly computed."

PR #941 wants to remove

[2020-05-30 19:30] chrbertsch commented on #1022
Yes it does

[2020-05-30 19:30] #1022 closed

[2020-05-30 20:51] #665 closed

[2020-05-30 21:19] andreas-junghanns commented on #1045
@chrbertsch : Sorry, I missed the second part of your comment in #941 - my change set (117a288) there should fix this. If you agree, please close this issue.

[2020-05-30 21:40] #793 closed

[2020-05-30 22:25] andreas-junghanns commented on #1033
@IZacharias : can we close this with changes merged to master?

[2020-05-31 10:06] chrbertsch commented on #1045
Fixed with #941

[2020-05-31 10:06] #1045 closed

[2020-05-31 15:12] chrbertsch commented on #993
@robbr48 and others:
Which degree of smoothness are typical for TLM Co-simulation for the whole communicatoin interval [tc_i, tc_{1+1}] ? C^∞?

@klausschuch  and others: are there other Co-Simulation schemes around, that would not provide  C^∞ smoothness of intermediate input values on the  whole communication interval, i.e. only C^k smoothness, k < \infty?

This is important, because during in co

[2020-05-31 18:38] chrbertsch commented on #762
This ticket was creatd before the complete restructuring of the xCS Descriptions. I do not understand it and think it has been fixed.
@CThuleHansen : please check and re-open, if it persists

[2020-05-31 18:38] #762 closed

[2020-05-31 18:40] chrbertsch commented on #976
duplicate of #965

[2020-05-31 18:40] #976 closed

[2020-06-01 06:52] robbr48 commented on #993
@chrbertsch The master interpolates intermediate inputs from a data table, so the degree of smoothness will depend on which interpolation technique is used. Our current master tool provides linear and hermite interpolation. Linear interpolation would give C^0, while (if I remember correctly) hermite spline interpolation would give C^1. Of course higher order interpolation is possible as well.

[2020-06-01 07:12] chrbertsch commented on #993
Just to be sure: you mean C^0 resp. C^1 at inermediate time points, not for communication time points, right?

Then for many advanced solvers you will have a problem with higher order solvers.
Image, a BCS FMU has internally a higher order BDF solver like CVODE. We do not want to interrupt and reset the solver at any intermediate points, but only at real communication points. Having low smoothness

[2020-06-01 07:31] #1027 closed

[2020-06-01 07:59] robbr48 commented on #993
It would actually be quite easy to change the interpolation technique in the master so that it provides C^∞ smoothness, e.g. using polynomial interpolation over the entire doStep. We have not done so yet simply because we have not encounter any significant performance issues.

Can we just formulate it as "For best performance the smoothness of intermediate inputs should be C^∞", to keep it simple?

[2020-06-01 08:05] clagms commented on #1041
@andreas-junghanns I can work on https://github.com/modelica/fmi-standard/pull/1046 once I understand the following:
1. We use nEventIndicators in functions `fmi3EnterEventMode`, `fmi2GetEventIndicators`, `fmi3GetNumberOfEventIndicators`, *and* mathematical description? Or do we keep the mathematical description out of these changes?
2. Do we rename `nx` to `nStates` and `x` to `states`? Or, as @t

[2020-06-01 14:06] chrbertsch commented on #1041
This should be about the API only, not the mathemetical description, where x or x_C is perfectly fine and much better to read in formulae

I would use nContinuousStates` and `x -> continuousStates` to be more precise

only the API / code

[2020-06-02 11:22] IZacharias commented on #1033
@pmai We could avoid duplication of attributes by referencing the attributeGroups directly from the variables, for example reference fmi3RealAttributes in fmi3Float64:

[code]
[code]

[2020-06-02 13:38] xifanghnu opened #1048 "res = model.simulate(final_time=10)"
The following error occurred when I executed the command “res = model.simulate(final_time=10) ”
![image](https://user-images.githubusercontent.com/66315766/83526685-6249f180-a519-11ea-957e-b99a061b56a3.png)

[2020-06-02 18:39] hyumo commented on #1048
This repo is for fmi-standard development nor for answering library specific questions. Please read documentation in terms of how to use a library. If you still cannot find the answer, you can post your question on stackoverflow. I will close this issue.

[2020-06-02 18:39] #1048 closed

[2020-06-02 20:07] chrbertsch commented on #993
I think there are use cases where it would be really benefical if the master would provided the recommended order of the input interpolation:

E.g., if the FMU does not contain a variable step solver, but perhaps internally does a certain number of equidistant explicit Euler steps (1st order ODE solver). If the the master somehow has knowledge of the inputs of the FMU for certain measurement point

[2020-06-03 00:32] xifanghnu commented on #1048
OK thank you！

| |
xfangwust
|
|
邮箱：xfangwust@163.com
|

Signature is customized by Netease Mail Master

On 06/03/2020 02:39, 于航 Hang Yu wrote:

This repo is for fmi-standard development not for answering library specific questions. Please read documentation in terms of how to use a library. If you still cannot find the answer, you can post your question on stackoverflow. I will close this issue.

[2020-06-03 06:38] robbr48 commented on #993
Sounds reasonable. But I think the name `minInputSmoothness` can be confusing, since a lower order would in fact still work, but with reduced performance. How about something like `minRecommendedInputSmoothness` or `minDesiredInputSmoothness`? Or, since too high order of interpolation can affect stability due to overshoot, just `recommendedInputSmoothness`?

[2020-06-03 18:09] chrbertsch commented on #993
Agreed. But perhaps we should mention `intermediate` in the flag name to clarify that this is not referrring to inputs in the classical FMI 2.0 CS sense. So what about  `recommendedIntermediateInputSmoothness`?

[2020-06-04 11:36] robbr48 commented on #993
Yes, that is much better I think.

[2020-06-04 13:22] chrbertsch commented on #993
Regular Design Meeting:

Karl: I agree on `recommendedIntermediateInputSmoothness`
Masoud: we have so many flags
Christian: We should make it optional

[2020-06-04 14:55] chrbertsch commented on #1042
Regular Design Meeting:

(Karl summarized) .... the only relevant information that I see is for state events, but this should  in fmi3NewDiscreteStates.
Otto: We need them then in fmi3enterEventMode also, because we do not call fmi3NewDiscreteStates before ....
Karl: we need it  in fmi3NewDiscreteStates also, see a Coupled Clutches example, where events call different kind of events  ....
Otto: Ar

[2020-06-06 08:49] chrbertsch commented on #993
What shall be the value of `recommendedIntermediateInputSmoothness`?

??: no smoothness recommendations input data on a given communicatoin ingerval: I would use the type="xs:int" for `recommendedIntermediateInputSmoothness` and decode this with "-1"
0: C^0 means "smooth"
1: C^1 means one time continuously differentialble (1st derivative smooth)
2: C^2 means two time continuously differentialble (

[2020-06-06 09:04] chrbertsch opened #1049 "Reverse order of attributes in pictures generated from the xsd files"
In the pictures generated from the xsd files, the attributes appear in the opposite order as they are defined in the xsd files and are listed in the tables of the scheme description of the individual FMI types.
![image](https://user-images.githubusercontent.com/16363372/83940511-fbf8f380-a7e4-11ea-9fe2-01d1518c83b5.png)

It would be nice, if we could change this, so that, e.g., also the mandatory

[2020-06-06 13:28] chrbertsch opened #1050 "Unify and possibly change the notation for communication time points and communication intervals"
In the mathematical decription sections of BCS we use a notation hc_i and tc_i for communication intervals and communication time points:
![image](https://user-images.githubusercontent.com/16363372/83945285-ff52a600-a809-11ea-97a0-fd71a382e7f0.png)

Using two letters for variables is very uncommon in mathematical litereature, as it can be confused with a product of t variables h and c_i for exampl

[2020-06-06 18:17] andreas-junghanns commented on #1050
I agree with H_i and T_i.
I propose c_i clock tick time.
Clock interval is tougher - C_i seems odd, but I have no better suggestions.

[2020-06-06 19:45] #940 closed

[2020-06-07 21:21] #1041 closed

[2020-06-08 07:28] clegaard opened #1051 "Potential portability issues with Fmi2Status datatype representation"
I have been toying around with implementing FMUs in Rust. Unlike many of c types, rust types must have a fixed size. I have since become aware that FMI3 is going to use the fixed-size defined by C99, which is a very nice improvement.

One thing that may still be problematic is the use of enumerations as arguments and return types.
After doing some research online and looking up the C99 standard, i

[2020-06-08 08:29] nickbattle opened #1052 "Docs/examples have various errors"
There are still some issues with the docs/examples files, including one that has a malformed date (ie. it will not verify against the XSD). I will try to prepare a PR with proposed fixes. Problems listed below (with the caveat that the FMI3 formal model is still under development!)
[code]

[2020-06-08 09:26] nickbattle commented on #1052
See PR https://github.com/modelica/fmi-standard/pull/1053

[2020-06-08 11:52] sglumac commented on #613
If you worked on the issue, can you, please, comment on the outcome?

[2020-06-08 15:51] pmai commented on #1051
While of course C is a broken language, and C enums doubly so, this is only a theoretical problem, as you found out, in that any sane platform ABI will prescribe the size of enum types, otherwise all kinds of interoperability fly out of the window.

This is similar to the problem of padding in structs, where C99 more or less gives implementations leeway to add padding in all kinds of amounts and p

[2020-06-08 16:47] andreas-junghanns commented on #1051
After this lengthy explanation: Can we close this issue, please?

[2020-06-09 06:50] clegaard commented on #1051
Thank you @pmai for the answer. It seems this is more of a theoretical issue and something you would only have to explicitly deal with in cases where the FMU is not compiled in C.

[2020-06-09 06:50] #1051 closed

[2020-06-13 08:27] chrbertsch commented on #458
This seems to be a general proofreading issue, see comment above. Merging of the array and binary FCPs took place more than 1,5 years ago, so I expect the main problems to be fixed already with other commits.
Please re-open, if there are special findings.

[2020-06-13 08:27] #458 closed

[2020-06-13 09:57] chrbertsch opened #1055 "Why allow iterative initialization of FMUs in BCS and not move this to HCS?"
singled out from #1019

In 4.1.1. Initialization Mode (https://fmi-standard.org/docs/3.0-dev/#_initialization_mode_2

Is this really intended for BCS? Or should we move this to HCS, where we may have iterations at events anyway? So I think this would be more symmetric and HCS is intended for advanvce co-simulation features, while BCS shall be simple.

Is iterative initialization of FMUs often used

[2020-06-13 10:00] chrbertsch opened #1056 "Better explain and improve graphics quality of Early return graphics"
singled out from #1019

![grafik](https://user-images.githubusercontent.com/16363372/84565955-7be70680-ad6d-11ea-83d4-d5e0cf93dde7.png)

-- Do the plots for the different FMUs all have the same time axis?
-- What do the green, red, dashed, non-dashed lines mean?

[2020-06-13 10:09] chrbertsch opened #1057 "CS Example(s) for intermediate update, early return, clocks"
singled out from #1019
It would be good to add Intermediate update with intermediate input and output variables and early return in 4.2.4. Code Example for Basic Co-Simulation

[2020-06-14 19:02] chrbertsch commented on #983
@pmai  and @andreas-junghanns : could you please come up with a draft proposal that can be discussed at the design meeting this week? Thanks in advance.

[2020-06-15 07:27] KarlWernersson commented on #1055
This has been there since fmi 2 and the introduction of initializationMode

At initialization you solve the algebraic equations depending on start values and connection constraints. The modlestructure/initialUnknowns helps you setup the external equations for the fmu. How this is solved is no difference in modelExchange or co-simulation.

Once you enter stepMode the constraints/loops generated by

[2020-06-15 08:00] andreas-junghanns commented on #1055
@chrbertsch : I think we should leave this in BCS to keep BCS at least as powerful as CoSim 2.0. If you agree, please close this ticket.

[2020-06-15 08:03] #1055 closed

[2020-06-15 08:40] #1002 closed

[2020-06-15 08:43] #1052 closed

[2020-06-15 14:43] hubertus65 commented on #1016
Maybe I am a bit out of the loop here. The FMI-ME statechart does not seem to be complete for me for the -admittedly quite complex case - of structural parameters that add or remove states, at least if "initialization" is interpreted in the sense of initializing an ODE/DAE. If a structural parameter is changed in event mode and changes the number of states, there has to be a new initialization sta

[2020-06-15 19:15] chrbertsch commented on #433
(Andreas, Christian)
closed in favour of #983

[2020-06-15 19:15] #433 closed

[2020-06-15 19:34] chrbertsch commented on #713
(Andreas J, Christian B)

Let's create a first a layered standard for automotive CAN.
@andreas-junghanns : I will create a draft and review with @pmai

[2020-06-15 19:39] chrbertsch commented on #738
(Andreas J, Christian B)
@KarlWernersson : would you please propose a PR for the design meeting?

[2020-06-15 19:50] chrbertsch commented on #864
(Andreas, Christian)
Already fixed:
There is already a sentence: `Especially it is required that all functions that are part of the specified FMI interface type are present, even if they are only needed for optional capabilities that the FMU does not support.` in https://fmi-standard.org/docs/3.0-dev/#fmu-distribution.

[2020-06-15 19:50] #864 closed

[2020-06-15 20:10] chrbertsch opened #1059 "ME statechart not complete for change of structural parameters that add or remove states?"
(moved  @hubertus65 ' s comment out of https://github.com/modelica/fmi-standard/issues/1016#issuecomment-644178154 as a new ticket as it addresses a new topic)

The FMI-ME statechart does not seem to be complete for me for the -admittedly quite complex case - of structural parameters that add or remove states, at least if "initialization" is interpreted in the sense of initializing an ODE/DAE. If

[2020-06-15 20:13] andreas-junghanns commented on #1016
@hubertus65
This was discussed and we decided this is not an issue FMI has to solve.
If the FMU can handle changing number of states, it offers states depending on structural parameters, else it does not.
If the importer cannot handle such an offer for changing structural parameters changing the number of states, well, it should not change that structural parameter away from its initial value.

We

[2020-06-15 20:17] chrbertsch commented on #1059
Copied @andreas-junghanns 's reply from ifrom https://github.com/modelica/fmi-standard/issues/1016#issuecomment-644354656

@hubertus65
This was discussed and we decided this is not an issue FMI has to solve.
If the FMU can handle changing number of states, it offers states depending on structural parameters, else it does not.
If the importer cannot handle such an offer for changing structural para

[2020-06-15 20:17] #1059 closed

[2020-06-15 21:03] andreas-junghanns commented on #1006
In the glossary, we have:
"...Any reference to all three Co-Simulation interfaces (BCS, HCS and SCS) are referred to as Co-Simulation interface, or xCS."

A CS FMU is then any of the three: BCS, HCS and SCS - isn´t that sufficient?

[2020-06-15 21:51] andreas-junghanns commented on #713
Here is an initial sketch of what we need to define to get the ball rolling...

Assumptions:
 - we define standard/classic CAN (read: not CAN-FD)
 - description format is either DBC or ARXML
 - timing information comes from the definition files and we do not provide overwrite capabilities
 - message structure and scaling the same way
 - no definition file composition defined/allowed

Definition sk

[2020-06-16 05:23] clagms commented on #1059
@hubertus65 these are nice points that you raise.
Do you have ready examples that illustrate these challenges that you can share with us? I agree with you that this is a can of worms, but I'm wondering whether one can characterize more rigorously when it (or when it is not) a problem.
At least, we could use some small examples to show people that "systems like these" are probably not simulatable w

[2020-06-16 06:12] andreas-junghanns commented on #1059
@klausschuch : please help here - you have a better memory of the endless discussions we had around exactly these points.

@clagms : I am all for examples that show "how to do things". To find examples for "what does not work" is extremely presumptuous: just because we do not know an algorithm to solve this is not proof that it cannot be done. Especially in special applications with some favorable

[2020-06-16 07:19] pmai opened #1061 "Declaration of FMI Version Independence (Drafting)"
This issue is intended as a starting point for a declaration of version independence for FMI, to aid the ongoing discussion of the exact semantics of versions and relevant compatibility issues. This is intended as a start, so please feel free to edit this issue text to add/rework/change/delete any stuff you find necessary, to come to a working set of definitions.

-----

We hold these truths to be

[2020-06-16 07:47] chrbertsch commented on #983
superseded  by #1061

[2020-06-16 07:47] #983 closed

[2020-06-16 10:07] chrbertsch commented on #1006
OK

[2020-06-16 10:07] #1006 closed

[2020-06-17 05:46] IZacharias commented on #707
The unnecessary columns have been removed with #938 . Ticket can be closed.

[2020-06-17 05:47] #707 closed

[2020-06-17 05:52] IZacharias commented on #914
Has been fixed with #938 . Ticket can be closed.

[2020-06-17 05:53] #914 closed

[2020-06-17 07:09] pmai commented on #1003
As discussed in design meeting on 2020-06-17: The rationale is that this avoids importers having to deal with vanishing dimensions if they do not want to deal with them (or even with changing sizes at all). If we allowed 0 dimension sizes, tools that do not even care about changing dimension sizes must be prepared to handle vanishing dimensions.

Note that this is a pragmatic trade-off, not the on

[2020-06-17 08:16] #1003 closed

[2020-06-17 08:33] chrbertsch commented on #1000
@MBlesken , @clagms , @IZacharias : will you address this ticket also?

[2020-06-17 09:01] clagms commented on #890
# Results from working group on clocks.

The following can be solved in https://github.com/modelica/fmi-standard/pull/1060

- [ ] We need to clarify here that, for synchronous clocks, activate means that subactive argument is false.
In other words, a synchronous clock is activated when fmi3SetClock is called for that clock with value=fmi3ClockActive and subactive=fmi3False, right?
This is related

[2020-06-17 09:08] clagms opened #1066 "Clarify need for start values in input clocks"
Why do we force the FMU to provide a start value for a clock?

The following description is problematic:

If an <<inputClock>> has `fmi3True` as an <<start>> value the master should activate the <<clock>> the first time it enters *Event Mode*.
The master can nevertheless choose different <<start>> values if it is not possible to fulfill the conditions in a simulation setup.``

Because:
1. For inpu

[2020-06-17 09:09] clagms commented on #1066
- [ ] We also need to fix the smaller issue.

This depends on the value of strict (as indicated in the subsequent paragraph).

[2020-06-17 09:18] IZacharias commented on #1000
@chrbertsch We will now start going through some of the open questions.

[2020-06-17 09:22] andreas-junghanns commented on #1042
Outcome of discussion: Note that for HCS nEventIndicators is always 0.

[2020-06-17 09:28] IZacharias commented on #918
XML example is also missing.

[2020-06-17 09:31] andreas-junghanns commented on #1042
We need to define/list all reasons for events (especially input events), for at least ME and HCS.

[2020-06-17 09:39] andreas-junghanns commented on #1042
The flag for input event is the only way to transport the information that a continuous variable changed discretely.

[2020-06-17 09:46] andreas-junghanns commented on #1042
For input events, we could even have a vector to show which input changed discretely.

[2020-06-17 10:39] andreas-junghanns commented on #1042
Todo:
 - define all reasons for why an event iteration gets started, especially input events
 - explain the mechanism of detecting input events (See below)
 - explain the rational of the flags (optimization and information only) and use cases what to potentially do with this information (non-normative)
 - solve the epsilon issue (see #588) by modifying the reported crossing functions (adding a mar

[2020-06-17 10:50] #1005 closed

[2020-06-17 11:11] #890 closed

[2020-06-17 12:31] clagms commented on #1066
@andreas-junghanns: this can be used for the case that an fmu uses some initialization code that would be run when an input clock gets triggered, but the fmu is connected in an co-simulation scenario that never call that input clock...

[2020-06-17 14:07] CSchulzeTLK commented on #1042
I think it is good to be able to let the master decide about state events.

If the event indicators are not 100% reproducible (e.g. due to embedded solvers), then either the master needs to be informed by the FMU if an event had been triggered, or the master has to decide and inform the FMU about it.

I think the discussion I was involved in concluded, that this should be made optional if the mast

[2020-06-17 14:33] CSchulzeTLK commented on #363
I think that this is an issue of the fluid property library and not an issue of the FMI. There is not "the one and only" interface to fluid libraries. The fluid library needs to be defined independently, and this strongly depends on the use cases (Process industry, HVAC, thermal stress simulation of metal, gas tubing, partially freezing fluids, heatexchanger icing...).

I could recommend the C-Int

[2020-06-17 15:35] hubertus65 commented on #1016
Ok, I can definitely live with that. To me, it still feels like an incomplete proposal, since the "how" of the initialization (and possibly removal) of states is not specified. If nobody can explain how to do that in a standards-conform way, I find it a bit doubtful to leave it in.

[2020-06-17 15:54] hubertus65 commented on #1059
Here are 2 somewhat academic examples: An adaptive controller where you allow design of controllers of different orders during an update event. If there is a state representing the integrated error, a user would want to transfer that value to the state with the same function in the updated controller. It is probably not a disaster if it would be initialized to zero, but the resulting controls are

[2020-06-17 17:15] CSchulzeTLK opened #1068 "Clarify input events and intermediate input values"
I see an important use case in providing smooth input functions for CoSimulation FMUs in a way, which does not reset the internal solver step size at communication points. Simulation times using BDF solvers strongly depend on the communication step size in CS mode using FMI 1.0 and 2.0.

Ideally it would be possible to provide smooth input values during one, and over several the doStep-intervals.

[2020-06-18 04:28] clagms commented on #613
Thank you for following up on this @sglumac !
This is on my todo list, but haven't come around yet to work on it. We will probably cover this when we update the mathematical description of BCS...
I hope this is not getting you stuck on your work, right?

[2020-06-18 06:35] #1033 closed

[2020-06-18 08:54] clagms opened #1071 "Clarify which interfaces can use which clocks"
This was discussed in the FMI Design meeting 17-06-2020:
- Communication Point Clocks only in scheduled co-simulation
- Basic co-simulation has no clock support
- Hybrid co-simulation only supports synchronous clocks

[2020-06-18 09:10] CSchulzeTLK commented on #1068
I'm missing some clarifications:
- The **master suddenly stops providing intermediate input** values after some point in (simulation) time
  - Since the u(t) function should be deterministic, at least old values should be accessible. I suggest **to "keep the old value"** (since we are doing this for basically all calls to set functions) **or forbid this**.
- Intermediate input values are provided,

[2020-06-18 09:12] andreas-junghanns commented on #1061
Poll: Do you agree that we should follow the suggested definitions of above? Consequence: we will attempt to formulate features in 3.0 as optional features build on top of a hypothetical reduced 3.0 (and also try with expected new features for 3.X or 4.0):

Agree: Andreas, Pierre, Antoine, ChristianB, Klaus, Markus, Masoud, Otto, Robert
Disagree:
Abstain: TorstenS

[2020-06-18 11:30] CSchulzeTLK commented on #1068
Conclusions of the Working Group Meeting:

We discussed adding the sentence:
"If the master sets an intermediate input once for a variable in a communication interval it always has set it when requested by the fmu during this interval."
But decided that the keep the general rule (similar to ModelExchange) "If the master does not provide an input, has the same effect as if the master provides the s

[2020-06-18 14:16] andreas-junghanns commented on #369
Design Meeting:
Karl: This is just making sure we can avoid one more iteration during initialization with the start value.
Klaus: This can also prevent bad start values causing issues during initialization (Div0 if start==0).
Pierre: In the best case, and only case, we reduce the number of iterations during the initializations.
Klaus: During 2.1 discussion we wanted this but did not allow because

[2020-06-18 14:18] clagms commented on #369
@KarlWernersson , when solving this, please the following text:

[2020-06-18 14:45] andreas-junghanns commented on #738
Karl: This is from the synchronous Modelica. "previous" is the previous value of a state before the clock tick during super-dense time.
Klaus: Why do we need this if we know the current value?
Otto: During algebraic loops, you reset the discrete states, using the previous.
Klaus: Why not have this in master?
Karl: The original FCP describes this...
Klaus: What is previous?
Karl: It is the value of

[2020-06-18 14:45] #738 closed

[2020-06-18 15:44] chrbertsch commented on #94
FMI Design Meeting
Recommendation to put this in a layered standard that uses some non-standard extensions of FMI, indicated in an annotation.
An importer can ignore the layered standard completely

@KarlWernersson, @otronarp ?,  @chrbertsch  will work on a proposal. @pmai  will support regarding the aspect of a layered standard

[2020-06-19 05:56] clagms opened #1073 "Introduction to Synchronous Clocks and open questions"
While trying to fix:
- https://github.com/modelica/fmi-standard/issues/1066
- https://github.com/modelica/fmi-standard/issues/1071
- https://github.com/modelica/fmi-standard/issues/916
- https://github.com/modelica/fmi-standard/issues/723
I realized that we need to define our clocks a lot better than what we currently have.
I'd like to start by producing an introduction to Synchronous clocks, sinc

[2020-06-20 08:20] #1019 closed

[2020-06-20 09:22] pmai commented on #713
Some further thoughts based on or discussions:

- There is no problem with the underspecification of the physical data type in e.g. DBC files: The FMU itself provides that mapping, through the specification of the fmi variable type. For generators that do not allow the user to specify this, they would follow whatever conventions they require (e.g. something matching CAN interface code generators w

[2020-06-21 12:45] sglumac commented on #613
Hi @clagms ,

I am working on the error control algorithm, which is based on the reconstruction of signals in the continuous domain. I'm not sure how to apply the algorithm to FMUs because I'm not sure how to interpret the standard.

I'm not blocked in my work, I can always add the assumptions that are required for my algorithm to work. However, it would add value if I could say that I am 100% sur

[2020-06-22 06:15] clagms commented on #613
I've started working to fix this in https://github.com/modelica/fmi-standard/pull/1075

Thank you @sglumac and @klausschuch  for spotting this and for the input!

I think I fixed the inconsistencies pointed out.
However, do note that, in the following:
![image](https://user-images.githubusercontent.com/871103/85253596-d6175400-b45e-11ea-822c-c9648b386b1d.png)
the document defines the [flow](https:

[2020-06-22 09:42] sglumac commented on #613
The standard states "where \(\mathbf{\Phi}_i\) and \(\mathbf{\Gamma}_i\) define the system behavior for the time interval \(tc_i \leq t < tc_{i+1}\), with \(tc_i = tc_0 + \sum_{k=0}^{i-1}hc_k\)." The behavior is not specified for the closed interval.

If I reread the example, it seems to be misleading. I apologize, I should have written about Gamma_i rather than Phi_i. I will try to add an example

[2020-06-22 10:00] andreas-junghanns commented on #713
This is correct and simplifies the FMU generation code, if we leave the type mapping open.
But it make connecting FMUs harder because it forces mapping of different types in the importer.

If we can find a unique way to prescribe what type to pick for what DBC type description, importers could simply connect inputs to outputs without additional work.
I think for most cases, defining this mapping i

[2020-06-22 11:52] #991 closed

[2020-06-22 11:52] #993 closed

[2020-06-22 12:46] t-sommer commented on #808
@klausschuch, can you make the PR?

[2020-06-25 15:13] andreas-junghanns opened #1077 "Merge BCS and HCS"
TorstenS: After a number of changes to the standard, the initial differences between BCS and HCS are disappearing - except for event handling. Is it to much to asked to have event handling even in BCS and if yes, what is the remaining difference?
Karl: To do nothing in event handling is problematic.
Pierre: If the master does not do the event handling, the FMU could do it internally at the beginni

[2020-06-25 17:18] pmai opened #1078 "Specify restrictions on independent variable"
This is a continuation of issue #808, but independent from those clarifications: At least the following aspects of the independent variable need to be specified more precisely (there might be more, this is just a start from the top of my head):

- The independent variable cannot be an array
- The value of the independent variable that can be accessed via fmi3GetFloat64/fmi3GetFloat32 (depending on

[2020-06-25 17:41] nickbattle commented on #1078
From the rules that I have for FMI2 (which are probably the same for FMI3), I have:

- If you declare an independent variable, there can only be one
- It must be "continuous" with no "initial" and no "start"
- It must be Real (so a float in FMI3)
- The aliases of a variable cannot include both settable and "independent" variables

If you don't declare an independent variable explicitly:

- A varia

[2020-06-25 19:22] pmai commented on #1078
@nickbattle As you say, the variable itself has to be read by the right accessor, so a Float32 independent variable has to be read by fmi3GetFloat32, but the setting of the variable is not allowed via the accessor, but happens either via fmi3SetTime or fmi3DoStep (and other related functions actually, which I should add above), which always take a Float64, thus causing the down-conversion.

The ru

[2020-06-26 09:50] #808 closed

[2020-06-26 11:13] chrbertsch commented on #1068
Changing milestone to v3.0, as the 3.0alpha4 parts have already been merged.

[2020-06-26 11:14] chrbertsch commented on #1042
Changing milestone to v3.0, as the 3.0alpha4 parts have already been merged.

[2020-06-26 13:47] chrbertsch commented on #959
I updated the list of merged PR in the ticket text above, leaving out some formatting-only tickets, and github tooling issues. I changed some PR names slightly (when the were not descriptive or contained only an issue number).
Perhaps one should point out the most relevant changes.

[2020-07-02 12:38] chrbertsch commented on #529
Regular design webmeeting:

add rationale for nvalues (--> ensure memory safety, other things still can get wrong)

[This information can be used to prevent access violations]

[2020-07-02 14:20] chrbertsch commented on #1077
Regular Design webmeeting:
- open technical point: what shall importers and exporters do when event mode is not supported?
Pierre: importer ignores event
Torsten: In HCS one enters step mode through event mode. How shall the FMU react?
Pierre: for the impter it is simple.
For the exporter: If one wants to export a "BCS" FMU: to not use event mode.
Torsten: one could use event mode to distinguish d

[2020-07-03 09:18] andreas-junghanns opened #1080 "Clarify continous and discrete variables and changes"
During discussion w.r.t. #1077, we realized that we need to clarify definitions of discrete and continuous (for Co-Sim):
 - variables, and
 - changes, especially in the different simulation phases:
   * in intermediateUpdate
   * between doSteps() (normal communication time points)
   * during event handling.
We need to define what assumptions both importer and FMU can make. I think the variabilit

[2020-07-03 09:20] andreas-junghanns commented on #1077
#1080 will take care of the clarification of variable changes.

[2020-07-03 09:25] andreas-junghanns opened #1082 "Make event mode optional (to allow merging of BCS and HCS)"
If we make event handling optional in HCS, BCS can be treated as a special case of HCS (and we are closer to merging BCS and HCS, see #1077).

This would require:
 - making Event Mode optional and that requires fmi3ExitInitializationMode to land in Step Mode
 - adding a new capability flag in the XML canHandleEvents.

Is it this simple? What am I missing?

[2020-07-03 09:28] andreas-junghanns commented on #1082
This is a larger change and I would like some positive feedback before I start with a PR addressing this.

[2020-07-03 13:50] t-sommer opened #1083 "Merge arguments intermediateVariables{Get|Set}Required"
in Co-Simulation constructors since the access function is already determined by the causality of the respective variables, i.e. `fmi3Set*` for `causality == input` and  `fmi3Get*` for `causality == output`.

For example

[code]

[2020-07-04 10:20] andreas-junghanns commented on #1083
We have to make sure to describe that there is no order for inputs and outputs in the valueReference list.

[2020-07-05 08:20] t-sommer commented on #1082
This would be the state diagram:

![state-machines-Page-1](https://user-images.githubusercontent.com/2453858/86528516-0f14e700-bea9-11ea-982e-ee488760949d.png)

[2020-07-05 12:57] t-sommer commented on #1082
IMHO, event updates should be triggered either by the master _or_ the FMU. The FMU could then signal via the XML, if it supports external event handling e.g.

[code]

and the master can signal to the FMU whether it actually intends to handle events, e.g.

[code]

[2020-07-05 18:23] chrbertsch opened #1085 "Order of get and set calls in intermediateUpdateMode"
If I remember well, we discussed that during Intermediate update mode, first the fmi3getXXX have to be called and then the fmi3setXXX, not in a mixed order
(just as in FMI 2.0CS there may be not get directly after a set without  an fmi2doStep inbetween).
This is related to the direct feedthrough discussion.
But I do not find such a restriction of the calling sequence in the currenty specifiation.

[2020-07-14 12:07] #1083 closed

[2020-07-16 14:18] andreas-junghanns commented on #1082
web design meeting:
All: accept the proposal to rename SCS to Scheduled Execution (SE)

[2020-07-16 14:24] andreas-junghanns commented on #1082
Klaus: Would we discuss ME renaming as well? It is often misunderstood as "model exchange" exchange of models...
Andreas: I would like to avoid this discussion and do not believe renaming will really help to clarify the issues.
Pierre: a measure of success of a technology is how many people discuss it without really understanding it.
Markus: renaming a term that has finally found some understandin

[2020-07-16 17:23] andreas-junghanns commented on #1085
Andreas: Are we assuming that computations are triggered?
Pierre: In Co-Sim we have to GetXXX first, and then call the SetXXX. We should follow the same mechanism.
All: agreed: this order should be required.

[2020-07-24 17:05] chrbertsch commented on #1082
Fixed by https://github.com/modelica/fmi-standard/pull/1086

[2020-07-24 17:05] #1082 closed

[2020-07-24 17:10] chrbertsch commented on #1077
Fixed with https://github.com/modelica/fmi-standard/pull/1086, there is #1080 to clarify changes of continuous and discrete variables

[2020-07-24 17:10] #1077 closed

[2020-07-24 17:11] chrbertsch commented on #1080
We must consider the points in the discussion of the closed tickets #1077

[2020-07-24 19:58] chrbertsch commented on #1078
For Scheduled Execution, a call to fmi3GetFloatXX for the independent variable does not make sense in the case of multiple activated model partitions with different activation times. Should we forbid such a call?
@MBlesken and @IZacharias : clould you please comment?

@pmai : which datails for clocks have to be added?

[2020-07-26 10:51] #1080 closed

[2020-07-26 10:52] #1085 closed

[2020-07-26 10:53] andreas-junghanns commented on #998
Is now obsolete?

[2020-07-26 13:07] chrbertsch opened #1089 "Shall we allow fmi3getOutputDerivatives in intermediateUpdateMode?"
With https://github.com/modelica/fmi-standard/commit/b35ccb9a57cd3ad5ac175b8c1b14f1ff0630a15c  "Added fmi3GetOutputDerivatives for calling sequence requirement", which is already merged, calling fmi3getOutputDerivatives gets allowed in CS intermediateUpdateMode.

I think this is not intended and is not reflected in our mathematical description https://fmi-standard.org/docs/3.0-dev/#math-co-simulat

[2020-07-26 13:14] chrbertsch commented on #998
They have been renamed are now clearly described

[2020-07-26 13:14] #998 closed

[2020-07-26 18:42] chrbertsch opened #1090 "Add XCP support (Layered standard)"
In https://github.com/modelica/fmi-design/tree/master/Meetings/2020-05-07_FMI-Steering#111-prostep-fmi-feature-matrix the idea is contained  to suport XCP with a layered standard " ... Another thing is XCP …​ Now we can put the A2L in the extra directory."

[2020-07-27 07:33] MBlesken commented on #1078
@chrbertsch @IZacharias it is not obvious to me why a call to fmi3GetFloatXX for the/a independent variable would not make sense in the case of multiple activated model partitions with different activation times. (... And I couldn't quiet get it from https://fmi-standard.org/docs/3.0-dev/#dependencies) If "independent variable" is always regarded as the one and only time variable I amuse that in r

[2020-07-27 10:14] chrbertsch commented on #1078
Indeed, as we have only one independent variable, it must be for the whole FMU. So it cannot have different values for different model partitions. Thus in my anderstanding a call of fmi3GetFloatXX for the independent variable does not make sense in SE.  If one want to get a time for a model partition, we would need somethink like fmi3GetTime(modelPartition), right?

[2020-07-27 10:46] MBlesken commented on #1078
I don't think that's even necessary. The master knows the time. It is the activationTime that he inserts when he calls ...ActivateModelPartition(...). I tried to point that out in the SE example given in #1087.

[2020-07-28 22:11] lueth0014 opened #1093 "python support"
Does FMI support cosimulation with codes written in python?  If not directly, is there a way around this or an alternateive?

[2020-07-29 05:25] chrbertsch commented on #1093
@lueth0014 : This is a platform for the development of the FMI standard. In the future please use other platforms like Stackoverflow for questions on the usage of FMI and tool/language support: https://stackoverflow.com/questions/tagged/fmi

Regarding python support: You could have a look at
*  https://github.com/NTNU-IHB/PythonFMU
* https://github.com/LBNL-ETA/SimulatorToFMU
for wrapping python c

[2020-07-29 05:25] #1093 closed

[2020-07-29 12:27] andreas-junghanns commented on #1090
We need to define the location where to place the a2l in the /extra directory.
We should recommend to have the IF_DATA XCP element present to describe the XCP server settings internal to the FMU.
We should forbid include of other a2l files to avoid copy-to-target-dir issues.
All ASAP2 versions are allowed.

[2020-07-29 12:32] andreas-junghanns commented on #1089
Discussion in mini-web-design-meeting: We have no use case for fmi3GetOutputDerivatives() calls in intermetiate update mode - so we will explicitly forbid the call right now.

[2020-07-29 12:37] andreas-junghanns commented on #1078
Discussed at mini-design-meeting: SE models do not have a real-valued time internally. All activations are of model partitions move time forward discretely and it is unclear what time is between these calls. We should forbid calling fmi3GetTime() and fmi3GetFloat64(timeValueRef) for SE.

[2020-07-29 12:58] andreas-junghanns commented on #1068
"Open issue: smoothness in Hybrid CS at communication points": ChristianB wants to make a PR for this issue.

[2020-07-29 15:51] chrbertsch commented on #1068
We alread have the text

in https://fmi-standard.org/docs/3.0-dev/#continuous

I propose changes to the mathematical description of CS in https://github.com/modelica/fmi-standard/pull/1094

[2020-07-29 20:37] chrbertsch commented on #959
Superseeded by https://github.com/modelica/fmi-standard/releases/tag/v3.0-alpha.5

[2020-07-29 20:37] #959 closed

[2020-07-30 14:10] chrbertsch opened #1098 "Add access functions for sparce access to arrays"
Disucssion at FMI 3.0 regular design meeting: There are use cases to access only individual elements or parts of an array.
For get/set functions this might be simple (but would double the number of API Access funcgtions), but would get complicated (but useful!) for partial derivatives.
This can be implemented in FMI3.1, can be ignored by an FMI 3.0 importer

[2020-07-30 14:23] andreas-junghanns commented on #1050
web design meeting:
it might be better to use t_c_{i+1} - this leaves us with more subscripts to indicate different kinds of time points.

[2020-07-30 14:44] andreas-junghanns commented on #1049
Pierre: we need to do this just before the release. If we cannot find a way to have the tool behave as we expect, we can reverse the  XSD elements to make the result what we expect.

[2020-07-30 14:50] andreas-junghanns commented on #1009
Masoud: enter the value directly into the first table and underline the default value.
Torsten: Drop all colors.

[2020-07-30 14:51] andreas-junghanns commented on #1008
Masoud: enter the value directly into the first table and underline the default value.
Torsten: Drop all colors.

[2020-07-30 14:57] andreas-junghanns commented on #1000
see #1073

[2020-07-30 14:58] andreas-junghanns commented on #1071
See #1000.

[2020-07-30 15:01] andreas-junghanns commented on #958
See #1009.

[2020-07-30 15:08] andreas-junghanns commented on #989
web design meeting:
Proposal: We should not list disallowed function. We should state in the beginning: "We list what allowed functions do. Calling any other API function in a certain mode will lead to undefined behavior, better implementations will return fmi3Error/fmi3Discard.

[2020-07-30 15:22] andreas-junghanns commented on #1098
web design meeting:
Pierre: Is this to support actual sparse matrices, or sparse access to full matrices?
Christian: the later.
Pierre: The pointer-based access would be sufficient for that (see #515).
Andreas: this would be a 3.1 addition with another API call that is ignoreable for 3.0 importers.
Pierre: ... at least for CS, for ME some more thoughts are needed.

[2020-07-30 16:21] fajansen commented on #1090
Why is it required to start the XCP service at initialization mode? The real control unit only enables XCP access when the power supply is turned on. Requiring the XCP service to already work at simulation start causes a difference in the behaviour of a vECU compared to a real ECU.

[2020-07-30 18:39] andreas-junghanns commented on #1090
Agreed, if your FMU allows power-up and power-down, this requirement is in the way.
I will turn this into a recommendation then to allow your use case and explain when to do what.
Thanks for the feedback!

[2020-07-30 20:06] chrbertsch commented on #1061
Shouldn't we update our development process https://github.com/modelica/fmi-design/blob/master/FMI_DevelopmentProcess/FMI_DevelopmentProcess_1.0.pdf according to this new understanding of "backwards compatibility" and prepare a vote on this in the Steering Committee?

[2020-07-30 20:12] chrbertsch opened #1101 "Change master/slave terminology to importer/FMU"
according to https://github.com/modelica/fmi-design/tree/master/Meetings/2020-07-20-FMI-Steering

[2020-07-31 11:15] #1050 closed

[2020-07-31 11:17] #1078 closed

[2020-07-31 11:18] #1089 closed

[2020-07-31 13:36] t-sommer opened #1102 "Change definition of fmi3Boolean from "int" to "char""
since the arguments brought up in #48 don't hold any more for FMI 3 with the introduction of contiguous arrays and new data types.

[2020-07-31 16:07] andreas-junghanns commented on #1102
char or unsigned char?

[2020-08-01 13:32] chrbertsch opened #1105 "Move 4.4. and 4.5 to separate files"
to be consistent, currently the content is in the 4_3_co-simulation_schema.adoc file

[2020-08-01 16:41] andreas-junghanns commented on #1105
Agreed, but let´s have the master/slave PR merged before we do this here.

[2020-08-03 08:22] #1101 closed

[2020-08-03 08:42] masoud-najafi commented on #1056
In the section 4_1_co-simulation_math.adoc, I updated the text and the figure. Please let me know if it is clear now.
Thanks
Masoud

In the particular context of multi-FMU architectures, significant co-simulation speed-up may be obtained if the master can avoid waiting until the end of the slowest FMU step integration.
If an FMU prematurely stops its current step integration computation due to an

[2020-08-03 12:16] masoud-najafi commented on #644
"The special values NaN, +INF, -INF for variables values are not allowed in the FMI XML files."
is still present in the standard. A PR may be needed.

[2020-08-03 12:57] trulede commented on #515
It would be interesting to have an API for managing memory allocation, which both the FMU and Importer could call. Essentially a malloc() call with VR reference, however in the implementation of the memory allocation function assigned to that interface it would then be possible for the Importer to intercept and handle malloc() requests from the FMU and map those to particular memory locations.

[c

[2020-08-04 12:38] andreas-junghanns commented on #644
@t-sommer : you are on vacation, bored, lots of time... for a PR?

[2020-08-04 12:44] masoud-najafi commented on #644
I just checked the text, these values have been mentioned only once. I can do the PR, if you would like.

[2020-08-04 13:27] andreas-junghanns commented on #644
Yes, please!

[2020-08-04 16:45] masoud-najafi commented on #1000
As pointed out by @clagms, "Communication Point Clocks" is specific to SE, then the whole text should be updated.
Since "Clock priority" and "Clock relationship" are also specific to SE, we may move these subsections to the section 5, instead of leaving then in section 2 which is for common descriptions.
2.1.8.3.2. Clock Priority
2.1.8.3.3. Clock Relationships for Communication Point Clocks

[2020-08-05 21:17] andreas-junghanns commented on #1105
I looked and this was easier: the headings needed dropping one level to be the same as in ME and SE.
This fixed the issue of this ticke.
While at it: PR #1108 also addresses equalizing heading style.

[2020-08-06 10:07] andreas-junghanns commented on #1008
PR #1109 deals with these proposals. All accepted and implemented.
I went one step further and merged column 2 and 3 to reduce the width of the table.

[2020-08-06 10:10] andreas-junghanns commented on #958
This has been sufficiently explained.

[2020-08-06 10:10] #958 closed

[2020-08-06 11:10] andreas-junghanns commented on #926
@clagms : I fixed what I could with PR #1110. I marked here what I think was either fixed with #1110, or elsewhere or is a remark not relevant (anymore).

What is left here, is beyond me and requires a PR that you make and someone with the proper knowledge approves of.

If you do not answer within 24h, I will merge PR 1110.

[2020-08-06 17:17] andreas-junghanns commented on #989
#922 is related and I think I should fix both tickets in one PR. Closing this ticket and pointing here for details.

[2020-08-06 17:17] andreas-junghanns commented on #922
#989 deals with a similar issue, I will create one PR for both these tickets. Closing this here.

[2020-08-06 17:17] #922 closed

[2020-08-07 10:39] #1105 closed

[2020-08-07 10:47] andreas-junghanns commented on #1016
@chrbertsch : Can we both run through the remaining points to create a PR together? Please let me know when you are available.

[2020-08-07 10:48] andreas-junghanns commented on #1015
@chrbertsch : Can we both go through the remaining points to create a PR together? Please let me know when you are available.

[2020-08-07 11:04] andreas-junghanns commented on #1000
I think all major issues raised here are taken care of. Once PR #1113 is accepted, this ticket closes.
If you do not agree, stop the machine.

[2020-08-07 11:06] andreas-junghanns commented on #873
I wish we had the issue of random people contributing. Let´s reopen when we are swamped with unauthorized PRs.

[2020-08-07 11:06] #873 closed

[2020-08-07 11:10] andreas-junghanns commented on #723
@friedrichatgc : Can you provide a PR for the issue you raise "miss a clear definition when a periodic clock ticks the first time"?
Or can I close this ticket?

[2020-08-07 11:12] andreas-junghanns commented on #671
We do this now as we need the anchors, no need to have a separate ticket.

[2020-08-07 11:12] #671 closed

[2020-08-07 11:14] andreas-junghanns commented on #613
@clagms : Can you create a PR that fixes the remaining issues raised here? Or can we close?

[2020-08-07 11:20] andreas-junghanns commented on #557
We have since introduced fixedInternalStepSize in the modelDescription.xml and that is likely as much as we should expose to importers. The beauty of FMI is that we can hide such information and expose only what is required for the importer to run efficiently.
Please reopen, if you have a clear use case and PR for additional information required.

[2020-08-07 11:20] #557 closed

[2020-08-07 13:18] t-sommer opened #1114 "Add dedicated causalities for clocks, continuous states, derivatives, and event indicators"
We decided to list continuous time states, derivatives and event indicators as model variables in FMI 3 in order to simplify the description of dependencies. However these variables have a special meaning and API functions to access them. In order to properly describe the way these special variables can be accessed, I propose to introduce four additional causalities (as suggested by @friedrichatgc

[2020-08-07 13:31] t-sommer opened #1115 "Move dependency information from <ModelStructure> to variables"
With the removal of alias variables in FMI 3 the dependency information can be stored directly in the model variables by moving/adding the following attributes to the model variable elements:

- `dependency`
- `dependencyKind`
- `initialUnknown`

The `<ModelStructure>` element then becomes obsolete.

[2020-08-07 13:50] #1000 closed

[2020-08-07 13:50] #1071 closed

[2020-08-07 14:28] t-sommer commented on #1114
After the discussion with @pmai the best solution might be a combination of new causalities and types:

- clocks and event indicators as dedicated type
- continuous states and derivatives as causalities

[2020-08-07 16:15] masoud-najafi commented on #723
What we need to make sure that the FMU has got the possibility to declare its very first time-event (clock tick time).
In FMI-2, after ExitInitialization the FMU systematically goes to the event-mode and an event is programmed at T_offset (if any event exists). But recently the FMU goes to Continuous-time mode. I do not know how the first event can be programmed, maybe in ExitInitialization?

[2020-08-07 18:07] APillekeit commented on #723
@masoud-najafi: Just an idea: After reading the last master version of the documentation on Github it is currently not clear for me if fmi3Set/GetClock() can be called in Initialization Mode (it is not allowed or forbidden). If these functions can be called (probably useful for networked FMU init, right?), these functions may be used to retrieve initial output clock ticks of an FMU and the master

[2020-08-09 19:07] #978 closed

[2020-08-10 06:51] masoud-najafi commented on #723
Hi Andreas (@APillekeit),
Happy to see you here again and still interested in FMI. Yes, before entering StepMode,  we need to retrieve the first event/clock times. But, I am not sure, if it is useful during "initilalization", because the input/output of the FMU may change and and the stable inputs are known only  at ExitInitialization. Sue, there is something missing here and should be fixed.

[2020-08-10 13:12] #1008 closed

[2020-08-10 13:12] #1009 closed

[2020-08-10 13:19] #989 closed

[2020-08-10 15:47] t-sommer opened #1121 "Harmonize naming of discrete and continuous states"
I suggest to use

- "continuous states" for continuous time states
- "discrete states" for discrete states, and
- "derivatives" for derivatives of continuous time states w.r.t. time

consistently in order to avoid ambiguities (e.g. with states in the state diagram).

[2020-08-10 17:08] andreas-junghanns commented on #1121
* We might need to also have "states" as the combination of continuous-time and discrete states in one FMU.

[2020-08-11 08:13] #644 closed

[2020-08-11 08:34] andreas-junghanns commented on #1056
This was fixed by #1119

[2020-08-11 08:34] #1056 closed

[2020-08-11 09:28] TorstenBlochwitz commented on #1115
Looks good to me. In this way, everything is on one place and you do not have to fiddle around with the lists in ModelStructure. We have to specify clearly to which variables which dependency is allowed to be defined. And we need to specify how unknown dependency is to be defined in contrast to "no dependency". But this is to be done anyway, independent from the way how the dependency information

[2020-08-11 09:29] TorstenBlochwitz commented on #1115
Looks good to me. In this way, everything is on one place and you do not have to fiddle around with the lists in ModelStructure. We have to specify clearly to which variables which dependency is allowed to be defined. And we need to specify how unknown dependency is to be defined in contrast to "no dependency". But this is to be done anyway, independent from the way how the dependency information

[2020-08-11 11:48] t-sommer commented on #1115
The way we specify the dependencies would stay the same:

- no attribute `dependencies`: variable depends on everything
- `dependencies=""`: variable depends on nothing
- `dependencies="2 3"`: variable depends on variables with VR 2 and 3

For Clocks we might to want to define a default of "no dependencies" if the attribute is missing.

[2020-08-12 09:06] andreas-junghanns commented on #1115
I do not like these exceptions, unless it is clear why clocks are different. Can someone explain that, please?

Until then, I would assume:
An output clock ticking depends, just like other variables, on who-knows-what, if not specified - so you have to assume on "everything".

[2020-08-12 10:16] masoud-najafi commented on #1115
Clocks are not really different. The only difference is that beside their dependencies on other KnownVariables such as regular-Inputs, we need also define their dependencies on input-Clocks.
"everything" includes all "input clocks". That's make output clocks dependent, i.e. synchronous with input clocks.
Synchronous output clocks should remains exceptions for  few blocks, such as SubSample, SuperS

[2020-08-18 13:13] TorstenBlochwitz commented on #1115
I agree to Masoud: Clocks are not different to other variable. I don't see why the exception is needed.

[2020-08-19 18:15] masoud-najafi opened #1125 "Transmitting information on synchrnoy of input clocks into FMU"
An importer can detect if sub-sampled, super-Sampled, and conditional clocks of any kind entering to an FMU are synchronous or not. An importer can detect synchrony among rational  interval clocks, so the importer can detect if rational Clocks entering in an FMU are synchronous or not. Real interval clocks and Boolean clocks (clock for state events) cannot be synchronized (unless for example one i

[2020-08-19 18:18] masoud-najafi opened #1126 "Connection of variables with variability clock"
I wonder where in the FMU specification, it has been indicated that only output clocks of an FMU can be  connected to input clock of another FMU? I mean, we should underline somewhere that only output of variability Clock can be connected to input of variability Clock. It may be obvious, but should be mentioned somewhere.

[2020-08-20 08:24] t-sommer commented on #1115
Closing (see https://github.com/modelica/fmi-standard/pull/1120#issuecomment-673327428)

[2020-08-20 08:24] #1115 closed

[2020-08-20 08:25] #1114 closed

[2020-08-20 09:02] andreas-junghanns commented on #1126
Can you create a small PR with a suggestion, please?

[2020-08-20 09:05] t-sommer commented on #1126
IMHO this is up to the co-simulation algorithm. As long as the calling sequence is correct it can connect whatever it wants.

[2020-08-20 09:15] andreas-junghanns commented on #1125
OK, I agree, but if that is not obvious, can you suggest a PR where this is clarified in the description of synchronous clocks?

[2020-08-21 07:54] fajansen opened #1128 "Explicit definition of 0/1 based indexing for variableNamingConvention "structured""
While the preamble states that arrays start with 1, and the examples for variableNamingConvention = structured also all start with 1, it is not clearly mentioned in the description.
It would reduce uncertainty to explicitly state the starting index for arrays for the structured naming convention.

[2020-08-21 08:02] masoud-najafi opened #1129 "Local clocks in Table-6"
In Table-6, the combination of Causality "Local" and Variability "Clock" is not allowed. Note that you may have local clocks that may not be exposed to outside. This happens especially when you export a model composed of FMUs with interconnected clock links.

[2020-08-21 08:26] masoud-najafi commented on #1125
Others may propose a better solution than this one. Because for other SetXXX, doing
setXXX([v1,v2])
should not result in a different result than by doing
setXXX(v1)
setXXX(v2)
Here the result of
SetClock([clk1,clk2]) may be different than
SetClock(clk1);
SetClock(clk2);

[2020-08-21 12:48] masoud-najafi opened #1134 "Where tunable parameters in FMI-Cosimulation can be updated?"
In  FMI-2.0 for CS, tunable parameters can only be updated at communication steps. In FMI-3.0, shouldn't restrict the update of tunable parameters to EventMode (similar to FMI-for-ME)? If yes, the table 10 in section 4.1.2 should be reviewed.

[2020-08-23 20:41] andreas-junghanns commented on #1129
How would such an internal clock be different from an output clock?
Why would we differentiate?

[2020-08-23 21:23] andreas-junghanns commented on #1128
We have the clash of two indexing methods here: C that is 0-based and Modelica that is 1-based.

The examples are Modelica, not C.
We never explicitly say what the first index for structured naming convention is.
A C example would be 0-based.

Anyone?

[2020-08-24 16:42] t-sommer commented on #1128
I think the spec [is very clear regarding the indexing](https://fmi-standard.org/docs/3.0-dev/#_conventions_used_in_this_document).

@andreas-junghanns, @fajansen, can you make a PR to improve the current text?

[2020-08-25 16:01] fajansen commented on #1128
I do not agree that the section you quote is clear (and while it was correct in 2.0, it's even inconsistent with the rest of the standard in 3.0):

- There is a distinction between "end-user/logical view" and "implementation view" with no clear definition when which one is used
- In the "end-user/logical view" it is stated, that "the starting index is also explicitly mentioned at the respective de

[2020-08-26 14:23] chrbertsch commented on #1128
For me it is not clear. The examples are 1-based but the spec does not seem to forbid zero-based arrays convention.

There can arise problems in the automatic connection of FMUs exported from tools using different  tools and possibly manual check, which convention the exporters follows.

There are different solution possibilities:
1) + 2) either decide and document all array conventions either to

[2020-08-26 15:19] andreas-junghanns commented on #1128
No worries: I will clarify that for the structured naming convention, any indexing schema is allowed. I will also add a 0-based example to make sure this is easily understood.
I will need a few days as I am distracted with other work...

[2020-08-26 15:24] chrbertsch commented on #1128
It is also important for the importer to know, which indexing schema the exporter followed. @andreas-junghanns Will this be included in your proposal?

[2020-08-26 15:46] nickbattle commented on #1128
A couple of thoughts.

Indexing is used in fmi3GetVariableDependencies, when things like elementIndicesOfDependent are returned. These have a stated 1-relative semantics, because 0 has a special meaning (depending on all elements of the variable). So presumably this would not change, even if elsewhere the same variable's elements were 0-indexed?

I don't think this is being suggested anyway, but I

[2020-08-26 19:18] andreas-junghanns commented on #1128
To be clear: this is only about the naming schema of the variables.
This is not about the C-API.

[2020-08-27 12:30] TorstenBlochwitz commented on #1134
If we restrict the change of tunable variables to Event Mode we cannot change them for FMUs which do not support Event Mode (hasEventMode = false) and in case of co-simulation algorithms which do not use Event Mode (eventModeRequired == fmi3False during instantiation).

For that reason I would propose to allow changes of tunable parameters in:
- Initialization Mode
- Step Mode
- Event Mode
- Recon

[2020-08-27 12:43] TorstenBlochwitz commented on #1125
If one FMU exposes two input clocks, they are handled by the importer as two separated input clocks. If they (by design or by accident) tick at the same instance of superdense time in Event Mode or not is not relevant for the FMU!

If the two clocks depend on each other (for example clock2 is a subclock of clock1), then only clock1 is exposed as input clock by the FMU.

If two independent clocks t

[2020-08-27 13:12] masoud-najafi commented on #1125
But how can one handle the above example where the FMU performs different jobs on ticks of clk1 and clk2 (clk2 is a subclock of clk1)? Do you means, the FMU should be exported in such a way that only clk1 is exposed as input and clk2  is reproduced again (subsampled) inside FMU?
Suppose the FMU is exported with two input clocks that performs three different jobs on clk1 (alone), clk2 (alone) and c

[2020-08-27 14:15] masoud-najafi opened #1136 "Periodic clock of type Float64"
In the spec document and the xsd files, "intervalCounter", "shiftCounter", and "resolution"  have been used to define the period and the start value of a periodic clock. These values are of type UnsignedLong.
In APIs, we have fmi3GetIntervalDecimal  and fmi3GetIntervalFraction  pour specifying period of Real and Rational clocks.
Maybe I am missing something but
1) Don't we need to specify the peri

[2020-08-27 14:16] chrbertsch commented on #1126
Can we close this due to #1130?

[2020-08-27 14:23] chrbertsch commented on #1057
@t-sommer : your branch https://github.com/t-sommer/Reference-FMUs/tree/cs-events-example addresses this issue, right?

[2020-08-27 14:36] masoud-najafi commented on #1057
I prepared an example but had issue with submitting on Reference-FMUs github. Then since @t-sommer had already prepared a similar example, I gave up submitting.

[2020-08-27 14:37] masoud-najafi commented on #1126
Yes.

[2020-08-27 14:38] #1126 closed

[2020-08-27 14:41] chrbertsch commented on #369
@KarlWernersson : Could you please  create a PR for this?

[2020-08-27 17:15] andreas-junghanns commented on #1125
If the cases clk1, clk2 and clk1&clk2 are different, then clk2 is not a true subclock of clk1.

I think this is clear - if you agree, Masoud, please close this ticket.

[2020-08-27 18:41] t-sommer commented on #1057
The above example demonstrates clocks in CS and early returns, but not intermediate updates. We should create a separate example for this.

[2020-08-27 21:55] andreas-junghanns commented on #1128
A remark during today´s FMI SC meeting made me wonder if I am wrongly assuming this is clear.
Therefore, I would like to clarify, what I think we should define:

The structured naming convention does not need to define if the indexing in the variable names are 0- or 1-based.
This can simply be deduced from the strings used.
If an importer needs to map between tools from different worlds (say Model

[2020-08-27 21:58] andreas-junghanns commented on #865
Nothing has happened in the mathematical sections for long time.
I see little chance that we extend what we have there to define the current terms in the feature table that are not all mathematical either.

[2020-08-27 21:58] #865 closed

[2020-08-28 06:48] masoud-najafi commented on #1125
Just consider this Modelica example (There are also examples from other synchronous languages):
Clock clk0 = Clock(1);
Clock clk1 = subSample(clk1,2);
Clock clk2 = subSample(clk1,3);

The FMU receives clk1 and clk2 as clock input in the above example:

clk1 ticks at 0, 2, 4, 6, 8,10, 12, 14
clk2 ticks at 0, 3, 6, 9, 12, 15
clk1 & clk2 are synchronous at 0, 6, 12, ...

For each of these situations

[2020-08-28 06:51] masoud-najafi commented on #1057
I noticed that there is no FMU example for synchronous clock handling. I am working on preparing a complete working example and will share it.

[2020-08-28 07:12] andreas-junghanns commented on #1125
I think your example should read (and is a different example from the one previously, right?):
Clock clk0 = Clock(1);
Clock clk1 = subSample(clk0,2);
Clock clk2 = subSample(clk0,3);

I still think this requires only one clock to be exposed: clk0.
The subclocks clk1 and clk2 can be internally derived by simple counters.
Why should we complicate the interface for such cases?

[2020-08-28 07:48] masoud-najafi commented on #1125
Yes, exposing only clk0 is a solution to THIS problem. But, we lose the generality. Also, this may not be possible in general. What if, for example, subsample ratios (2 and 3)  are needed to be changed outside of the FMU?

[2020-08-28 08:31] fajansen commented on #1128
I disagree that the convention can be deduced from the strings used.
`It might be that not all elements of an array are present. If they are present, they are given in consecutive order in the XML file.`
So assuming the first variable has index 1, how do I know if I have a 1-based convention, or a 0-based with element 0 not being present?

An alternative to being more strict would be to allow diff

[2020-08-28 08:46] pmai commented on #1128
The structured naming convention is (intentionally, I'd say) way too lenient to allow automatically and rigorously doing the right thing in every case: Nothing in the spec even forces all elements of the array to be of the same type, or same substructure for that matter.

So I don't think it makes sense to try to partially improve this, especially for arrays, where we have a much more robust solut

[2020-08-28 10:16] andreas-junghanns commented on #1125
Then, these clocks are not subclocks. subclocks have fixed ratios. If the ratio is not fixed, the clocks are not periodic.

[2020-08-28 11:26] masoud-najafi opened #1137 "Entering Event mode due to a Clock tick"
The signature of fmi3EnterEventMode is
fmi3Status fmi3EnterEventMode(fmi3Instance instance,
                                          fmi3Boolean stepEvent,
                                          const fmi3Int32 rootsFound[],
                                          size_t nEventIndicators,
                                          fmi3Boolean timeEvent);
Please note that it is possible that t

[2020-08-28 13:07] TorstenBlochwitz commented on #1125
I agree to Andreas. Subclocks stay inside of the FMU and are handled there, only "Independent" clocks are exposed.

[2020-08-28 13:13] chrbertsch commented on #369
Ticket-viewing-meeting

TorstenB: We just allow setting inputs before fmi3EnterInitialization. No Problem with that.
Andreas: We need a PR.

@KarlWernersson : Could you please create a PR?

[2020-08-28 13:18] chrbertsch commented on #459
Ticket-viewing-meeting

Andreas: we have several inconsistencies.
TorstenB: Should this be part of our write-fest?
Andreas: Could come later, in parallel with the language checking
TorstenB: But we should mark  things that are normative
Christian: We could already think about a better technical solution for formatting of non-normative texst in ADOC.
@t-sommer : could you please look into this or c

[2020-08-28 13:21] chrbertsch commented on #529
Ticket-viewing-meeting

@klausschuch : I will look into this

[2020-08-28 13:22] masoud-najafi commented on #1125
This is one way of implementation. What if the exporter want to expose these two clocks? If the exporter exposes these two clocks and relies on external synchronous clocks, the result would be incorrect.

I we want to accept  "only "Independent" clocks.", then we should say it somewhere in the standard and give some rationals for forbidding it.

[2020-08-28 13:29] chrbertsch commented on #583
Ticket-view-meeting

Andreas: can be done at the very end. Language checking by a native speaker this could be screwed up.
Torsten: **Should be done at the write-fest**
Klaus: in SSP it is written in upper-case to make people aware
Torsten: this looks strange
Klaus: Italic looks better
Andreas: Italic is used for non-normative.
Andreas: **Underline could work.** There are two tasks:
1) Re-formulat

[2020-08-28 13:34] chrbertsch commented on #613
Ticket-viewing-meeting

Andreas: we decided this in one of the design meeting. The importer must not set a communication interval of zero, but the FMU may immediately return with an early return

@clagms : I will create a PR

[2020-08-28 13:48] chrbertsch commented on #713
Ticket-viewing-meeting

Andreas: I created a PR; some more people have to look into this.
TorstenB: Can we accept this and create new PRs to improve this?
Andreas: I will ask TorstenS or try to add it to the CircleCI YAML file. Then I will merge this.
Christian: We perhaps have to clarify that layered standards of the FMI Project are covered by the CLA/CCLA
Christian: A different approach would be

[2020-08-28 13:50] chrbertsch commented on #723
Ticket-viewing meeting

This ticket is to unspecific. Re-open with concrete proposals if necessary

[2020-08-28 13:50] #723 closed

[2020-08-28 13:54] #881 closed

[2020-08-28 14:00] chrbertsch commented on #898
Ticket-viewing-meeting

Andreas: I just got lost ...  How do we continue with this?
Klaus: Could we split this in smaller tickets?
Claudio: we already have done this for the big issues. I have to go through this again. I will go through it again, create smaller ones and close this big issues
Andreas: Perhaps many topics have already gone away.

@clagms  will  go through this

[2020-08-28 14:15] chrbertsch commented on #916
Ticket-viewing-meeting

Do use "model partitions" only for SE or also for CS?
Christian: It thinkg to SE
AndreasJ: "model partition" appears everywhere in the standard (but not in ME)
Klaus: then we have a problem anyway if we do not say to which kind of clock the model partitions belongs to. Why does it then not appear in ME?
AndreasJ: ...
TorstenB.: Communication time clocks were introduce to di

[2020-08-28 14:16] chrbertsch commented on #918
Ticket-viewing-meeting

Andreas: This is work in progress; the dSpace Collegues and TorstenS are working on that

[2020-08-28 14:23] chrbertsch commented on #926
Ticket-viewing-meeting

@clagms : I will go through this and see what is left to do. The goal is to close and create a smaller ticket with left-overs that can be dealt with more easily. @TorstenBlochwitz : then I can have a look at this.

[2020-08-28 14:33] chrbertsch commented on #1015
Ticket-viewing-meeting

regarding the figure 21:

Torsten B: don't use 3d blocks
Klaus: use a notation like FMU2.u1
Klaus: make it more c-style with comments

[2020-08-28 14:35] chrbertsch commented on #1029
Ticket-viewing meeting:

Pierre: We do not aim for the  v3.0 milestone

[2020-08-28 14:44] chrbertsch commented on #1042
Ticket-viewing-meeting

@klausschuch :  there is only one subtopic left that is covered by #588

[2020-08-28 14:44] #1042 closed

[2020-08-28 14:47] chrbertsch commented on #1057
Ticket-viewing-meeting:

Masoud: TorstenS is working on an example
Klaus: but not for intermediate update
Masoud: I will clarify how to commit my example with TorstenS

[2020-08-28 14:52] chrbertsch commented on #1061
Ticket-viewing-meeting

AndreasJ: We do not yet know where this text shall go.
Pierre: Parts of it should go into the FMI3.0 standard.
Andreas: I could try to write this in an introduction section
Pierre: If we do not put this prominently, people will not be aware this
Andreas: I will create a PR.

[2020-08-28 15:02] chrbertsch commented on #1066
Ticket viewing Meeting:

Andreas: I belive we should be able to set values at the beginning and to have start values
Klaus: but we decided otherwise above.
Andreas: I see use cases for virtual ECUs, where it is important to state that a clock shall tick at the beginning. One could overwrite it at the beginning.
TorstenB: In modelica during initialization, no clock ticks. The clock ticks first at e

[2020-08-28 15:14] chrbertsch commented on #1068
Viewing-all-ticket-meeting

Andreas: what is missing: If the importer is running without events, one should use a heuristics (just like FMI 2.0) to deals with discontinuitiy. FMI 3.0 offers now a new means to do better.
Torsten B: If there are events, continuous inputs are assumed to be continuous if there are no events.

@andreas-junghanns : I will create a PR to clarify this

[2020-08-28 15:15] chrbertsch commented on #1073
Ticket-viewing-meeting:

@clagms : I will create a PR draft

[2020-08-28 15:18] chrbertsch commented on #1090
Ticket-viewing-meeting:

Andreas: Reviews are welcome! I will work on this so this can be merged.

[2020-08-28 15:40] chrbertsch commented on #1128
Ticket-viewing-meeting

Pierre: I would not do anything
Andreas: I would add an example for zero-based indexing. I will create a PR
Klaus: One motivation for the arrays was to get away with the ambiguity of the naming convention.
Pierre: We can put this in the implementers guide #1029

[2020-08-28 15:48] chrbertsch commented on #1129
Ticket-viewing-meeting:

Andreas: I do not understand the difference between a local clock and an output clock.
Masoud: a local clock is not exposed.
Torsten: ticking has to be treated internally. For local variables I understand the use case to get more internal information. What could one do with the information of an internal clock?
Andreas: Debugging.
Torsten: We should discourage connecting a

[2020-08-28 16:00] masoud-najafi opened #1139 "Clarification on dependency list of output clocks"
An output clock may depend on
1) Continuous-time states, e.g. state-event clock depending on states.
2) Regular inputs, e.g., an FMU that ticks a state-event clock when its regular input crosses zero.
3) Input clocks, e.g., an FMU that sub-samples its input clock.

Is this list complete?

[2020-08-28 16:03] chrbertsch commented on #1134
Ticket-Reviewing-Meeting

Andreas: this gets more complicated with the XCP layered standard. An MCD tool would assume that changes immediately take effect
Pierre: We have the same problem with SCP servers with real ECUs ...
Christian: one should write recommendations for XCP within the layered standard , not in the FMI3 standard

Andreas: in which mode shall we not change tunable parameters.
Pierr

[2020-08-28 16:15] chrbertsch commented on #1136
Ticket-viewing-meeting:

Masoud: we have an assymmetry between rational and real clocks
TorstenB: in Modelica we can specify a clock interval as real.
Andreas: the Master sets the clock. Why would you need to set?
Masoud: for the same reason as for the rational clocks.
Andreas: should we remove this also for the rational clocks? the master makes the clock tick
TorstenB: there remains the first que

[2020-08-28 16:26] chrbertsch commented on #1137
Ticket-viewing-meeting

Andreas, TorstenB: we need a new element.
Klaus: how would this look like?
Torsten: I would suggest just a boolean variable, indicating just that one clock ticked. Which clocked ticked can be found out by the importer
Torsten: at the next super dense time others clocks ticked.
Andreas: The master sends, which clocks ticked
Klaus: output clocks are coming from the FMU. The F

[2020-08-28 16:38] masoud-najafi opened #1140 "Clarification of calling SetClock for aperiodic output-clock"
According to the table in section 2.1.8.5. (Setting and Getting Clock Activation State) , calling setClock is only allowed "if recomputations of clock state are needed during Event Mode".

I'm preparing an example for an FMU which has several input and output clocks. One of output clocks (clki) ticks aperiodically.

After ExitInitialization at t0, the FMU goes to the eventMode and sets internally

[2020-08-28 18:11] #613 closed

[2020-08-29 06:56] andreas-junghanns commented on #1140
I don´t think this is correct, we even say:
"It is required for an FMU to directly internally set back the activation state of an output clock[i] to fmi3ClockInactive, if the function fmi3GetClock is called for a clock[i]..."
However, I am not sure, why the sentence continues with restricting this mechanism to SE:
"... and the interface is Scheduled Execution. [This is required to allow preemption

[2020-08-29 13:41] clagms opened #1141 "In CS math description, make it clear that the importer needs to raise events if the input approxmation function is not smooth"
The description of the input variables in the mathematical description can be made more explicit regargind who is responsible for raising events if there are discontinuities in otherwise continuous inputs.

The current text around ``If no event happens at the communication point...`` makes it seem like an event may happen. But it must happen.

[2020-08-29 17:20] masoud-najafi commented on #1140
Concerning the first part, i.e., deactivating the clocks internally. Yes, that's all right.

Using setClock is just to avoid comparing times and to inform the FMU  that it is the tick of the output clock at t1.
Note that comparing clock times has never been a good idea, especially for "real" clocks due to the machine epsilon issue.

I noticed that the importer has to manage itself the local clocks

[2020-08-29 18:12] masoud-najafi commented on #1140
Concerning the first part, i.e., deactivating the clocks internally. Yes, that's all right.

Using setClock is just to avoid comparing times and to inform the FMU  that it is the tick of the output clock at t1.
Note that comparing clock times has never been a good idea, especially for "real" clocks due to the machine epsilon issue.

I noticed that the importer has to manage itself the local clocks

[2020-08-29 19:49] andreas-junghanns commented on #1134
This was essentially already marked out in the document as such. I added a few clarifications, cross references and cleaned up some left-overs in the PR I will link to this issue in a few minutes.

[2020-08-30 07:09] andreas-junghanns commented on #1068
Point above: "clarify the general rule: "If the master does not provide an input, the input retains at the same value as the most recent (wall clock time) set function call"
(This is already the most common assumtion for ModelExchange implementation, so we should stick to that definition. Maybe this can be added to section 2.1.7.)"
If we add this sentence, would that not add confusion about other

[2020-08-30 08:53] clagms opened #1150 "Create the Reference FMUs used to introduce synchronous clocks."
As suggested by @andreas-junghanns  in https://github.com/modelica/fmi-standard/pull/1143#pullrequestreview-478153037 , we should validate the example used to introduce synchronous clocks (see https://github.com/modelica/fmi-standard/issues/1073) by creating those FMUs in the Reference FMUs.

[2020-08-30 16:57] #1141 closed

[2020-08-30 19:27] chrbertsch opened #1151 "Describe allowed functions in states"
(singled out from #1016 )

Currently in  https://fmi-standard.org/docs/3.0-dev/#_state_event_mode and https://fmi-standard.org/docs/3.0-dev/#_state_continuous_time_mode a lot of allowed function calls are missing (e.g. fmi3GetXXX, fmi3SetXXX) ...

Additionally, for some states like Reconfiguration mode, the description of allowed and forbidden function calls is missing completeley

[2020-08-30 19:43] andreas-junghanns commented on #1151
I have the feeling these are not the only modes, where we miss functions.

But: have you check the super states? I tried to make sure that functions callable in all sub-states of a super state are listed there.

[2020-08-30 19:50] andreas-junghanns commented on #1151
BTW: We agreed to no list forbidden functions anymore - I removed all such lists a while back.

I just checked: both Configuration Mode and Reconfiguration Mode list the only call allowed (that I can think of):

fmi3ExitConfigurationMode
    With this function call, the FMU is returned to state Instantiated.
fmi3Set{VariableType}
    Only for variables with causality = structuralParameter and vari

[2020-08-30 19:58] chrbertsch commented on #1151
OK, you are right.

OK

But where I think the allowed functions for ContinuTimeMode and EventMode are incomplete

[2020-08-31 08:48] masoud-najafi opened #1154 "Clarification of clockReference attribute may be needed in 2_2_common_schema.adoc"
At line 1343 of  docs/2_2_common_schema.adoc this sentence about "clockReference"  is not clear:

If < < causality > >  =  < < output > >  and  < < variability > >  =  < < clock > >  the  < < outputClock > > tick event can occur only in the model partition that is related to the referenced  < < inputClock > > , i.e. the < < outputClock ,`output clock` > > value (active/inactive) can only change in

[2020-08-31 08:50] #1134 closed

[2020-08-31 08:52] #1125 closed

[2020-08-31 08:53] #1073 closed

[2020-08-31 09:09] andreas-junghanns commented on #1154
In #1143 you state the problem as "In 2_2_common_schema.adoc I cannot understand the following phrase, is it related to SE or the TriggeredBy attribute?"

Why do we have to ways to define dependencies on clocks:
 - triggeredBy, and
 - clockReference

Can we drop triggeredBy?

Back to the sentence Masoud points out: I believe this is true for both clock types.
The mention of the "model partition" i

[2020-08-31 10:18] andreas-junghanns commented on #1150
@t-sommer : Can you have a look and turn the example in the text into a Reference FMUs?
Cláudio will work on other issues in the standard next.

[2020-08-31 11:29] #1016 closed

[2020-08-31 11:37] #1015 closed

[2020-08-31 13:32] andreas-junghanns commented on #1139
web design meeting:
Masoud: Discrete states?
Andreas: Do you want to have this added somewhere?
Karls: This should go to the model structure, or wherever where we describe what outputs can depend on.

[2020-08-31 14:11] andreas-junghanns commented on #1140
web design meeting:
Andreas: you should not call SetClock on output clocks.
Masoud: How to build an FMU with such an output clock.
TorstenB: It is a time-based aperiodic clock. Once the clock ticked, the importer must call the getInterval. Then the importer needs to raise an event at the correct time. Adding the interval in the importer might lead to numeric issues when that event is raised possib

[2020-08-31 14:22] andreas-junghanns commented on #1154
@IZacharias : What is different about triggeredBy compared to clockReference?

Suggest start of clarification: "The triggeredBy attribute is different to the clockReference attribute in the following way:..."

[2020-08-31 15:34] masoud-najafi commented on #1129
@klausschuch: By "output variable", do you mean "output clock variable"? Because a regular output variable may depend on local-clock ticks, i.e., at a lock clock ticks the output may change.

[2020-08-31 15:56] clagms opened #1158 "ME Math Description states that event mode can be reentered bypassing continuous time mode"
Doc says:
![image](https://user-images.githubusercontent.com/871103/91735166-2d971600-ebac-11ea-893d-9391d3d60fba.png)

But this contradicts the state machine:
![image](https://user-images.githubusercontent.com/871103/91735511-b746e380-ebac-11ea-8ff7-410d237d0ce4.png)

I think the state machine is more correct here.

[2020-08-31 16:28] clagms commented on #898
I've done a new iteration, and fixed what I could in https://github.com/modelica/fmi-standard/pull/1157
Most of the stuff still open is regarding communication point clocks.

[2020-08-31 17:13] #898 closed

[2020-09-01 06:58] IZacharias commented on #1154
@andreas-junghanns
The attribute clockReference of an output clock refers to an input clock. Only if this input clock has ticked, the output clock **may** also tick. But not every time the input clock is ticking, the output clock has to tick as well.

The attribute triggeredBy of an input clock refers to an output clock. Whenever the output clock is ticking, the input clock **must** also be tickin

[2020-09-01 10:43] masoud-najafi opened #1161 "Are discrete-time states in <ModelStructure>?"
In 2_1_common_api.adoc  there is statement:
"Discrete-time states are listed in the <ModelStructure>. They can have initial values defined by XML attributes [initial] and [start], or the initial values are computed internally as a function of the parameters."

This is not consistent with current ModelStructure. Do we need to add discrete-time states to the ModelStructure? Any use-case?

[2020-09-01 14:14] masoud-najafi commented on #1140
I think I found a solution based on the @andreas-junghanns  proposal.
I order to make a synchronous aperiodic (or even priodic) clock generator, we can proceed in this way:

1) The FMU defines an initial tick on an output-clock (clko), i.e., the <initial> attribute of clko is "exact".
 If the initial attribute is "exact", just after leaving the initializationMode, the importer calls GetClock(clko)

[2020-09-01 14:37] masoud-najafi commented on #1140
![image](https://user-images.githubusercontent.com/33484393/91865148-5fbe7b80-ec71-11ea-8430-01680a1678ff.png)

[2020-09-01 22:14] masoud-najafi commented on #1154
"The attribute clockReference of an output clock refers to an input clock."
In synchronous clock (not SE), this is called direct dependency of clocks, i.e., the output-clock is usually an independent clock, and no clockReference attribute is provided for it. If the output-clock depends on an input-clock, i.e., the output-clock ticks immediately after the input-clock tick in the same EventUpdate, i

[2020-09-02 08:57] andreas-junghanns commented on #1154
Both @IZacharias and @masoud-najafi seem to explain the same thing, for both SE and non-SE cases.

Summary:
- Output clocks and input clocks can depend on one another, in all interface types (ME, CS and SE).
- If an output clock depends on an input clock, the clockReference attribute is used and indicates that the output clock **may** tick **if and only if** the referenced input clock ticks.
- If

[2020-09-02 09:09] masoud-najafi commented on #1154
Yes, we cannot be more precise. The difference is just in implementation in the XML.
For me, these dependencies are something structural and may be declared in the ModelStructure, but any other solution would be good.

[2020-09-02 09:23] andreas-junghanns commented on #1161
This sentence was introduced by @pmai in d689e055cf2c76b50945fc9ca625dd8e7263186a.
@pmai : Do you remember what made you write this? I kind of agree with @masoud-najafi here: I cannot find any other place in the document that suggests that we expose any state (continuous or discrete) directly... Can we remove this sentence? Or clarify, which combination of causality/variability defines what you wo

[2020-09-02 09:34] #1139 closed

[2020-09-02 09:37] #965 closed

[2020-09-02 10:56] #1129 closed

[2020-09-02 15:01] chrbertsch commented on #713
Feedback from an internal discussion with @tg9541 and @fajansen:

* there should be a clear separation of the approaches “High Cut” or “Signal Layer Approach” (maybe “K-Matrix view” or “Functional Integration View”) or vs. “Low Cut” or “Network Layer Approach” (maybe “Packet View”, “Communication-Stack-under-Test View”) as there is value in both, and both have their use-cases. The current PR #1091

[2020-09-03 07:24] IZacharias commented on #1154
@andreas-junghanns Yes, I agree. Thanks for this well explained summary!

[2020-09-03 15:06] iscopa opened #1163 "triggered clocks and"
Hello,

in 4.2.8.2 of fmi 3.0 spec there is a description of fmi3SetClock. There it is not clear the difference between "input" and "triggered clocks". Could you please clarify that concept?

////////////////////////////////////////////////////////
fmi3SetClock

    For input clocks, fmi3SetClock is called after entering Event Mode to set the activation status of clocks. For **both input and trige

[2020-09-03 16:51] andreas-junghanns commented on #1163
Agreed, this part needs attention - a number of other clocks-related tickets are already being discussed. We will address this as well - thanks for pointing it out!

[2020-09-03 20:47] andreas-junghanns commented on #713
The "high cut" and "low cut" are equivalent, iff one has the proper description formats to translate between them.
This is the point of this proposal: We use the physical layer (high cut) because this is closest to the current FMI/Modelica world and likely maps better into existing simulations. If you need a "low cut", you can create the messages (or PDUs or frames) out of the physical signals whe

[2020-09-03 21:51] andreas-junghanns commented on #1163
@iscopa : I cannot make you reviewer of my PR for this issue - please comment here anyhow - thank you!

[2020-09-04 06:25] iscopa commented on #1163
Hello Andreas, thank you for your feedback.

[2020-09-04 12:54] pmai commented on #1161
I did not introduce this sentence, I only removed the previous attribute part of the sentence:

[code]

got shortened to

[code]

as part of removing the previous attribute. I think the original wording came from @KarlWernersson, maybe? I don´t know what the current status on the previous and discrete state stuff was (should it be reintroduced?), so probably @KarlWernersson knows best.

[2020-09-05 12:38] christoff-buerger opened #1165 "FMI 3.0: Unit specification error regarding relativeQuantity"
In Section _2.2.2. Definition of Units_ the conversion of units based on `<BaseUnit>` is described.

One important pitfall is to incorporate the `offset` if `relativeQuantity="true"`; an example is given in subsection _Signal connection check_ which even refers to the definition of `relativeQuantity` below.

The problem now is, that the definition/description of `relativeQuantity` only talks about

[2020-09-07 13:53] t-sommer commented on #1128
If 0-based indexing is allowed in the XML (which I think is not the case for FMI 2.0) the paragraph

is misleading and should be removed. This should also be clarified for FMI 2.0.2.

[2020-09-08 15:59] HansOlsson opened #1167 "Which CC-license?"
I tried to look at the license text and found it to be contradictory, it says:

The FMI specification is released under the CC-BY-SA (Creative Common Attribution ShareAlike 4.0 International):

Attribution-NonCommercial-ShareAlike 4.0 International

This mentions both CC-BY-SA https://creativecommons.org/licenses/by-sa/4.0/ and CC-BY-NC-SA https://creativecommons.org/licenses/by-nc-sa/4.0/ which I

[2020-09-08 18:31] chrbertsch commented on #1167
FMI 2.0.1 was released under CC-BY-SA (Creative Commons Attribution-Sharealike 4.0 International), and I do not see a reason why we should change this.
Also, https://github.com/modelica/fmi-standard/blob/master/docs/0___preamble.adoc  mentions `This document is licensed under the Attribution-ShareAlike 4.0 International license.`
So I suggest to change the license text to CC-BY-SA w/o NC.

[2020-09-09 07:43] andreas-junghanns commented on #1167
Such license changes should be approved by the FMI Steering Committee, unless what was written there was a mistake to simply be corrected to reflect what was previously decided.

[2020-09-09 08:13] #918 closed

[2020-09-09 09:51] t-sommer opened #1170 "Review attributes of <ScheduledExecution>"
Currently `<ScheduledExecution>` shares all attributes with `<fmi3CoSimulation>`:

[code]

Do `canHandleVariableCommunicationStepSize` and `fixedInternalStepSize` (and possibly others) make sense for Scheduled Execution?

[2020-09-09 10:30] HansOlsson commented on #1167
I _believe_ that it was just a mistake, since it's mentioning two different licenses.

[2020-09-09 10:33] pmai commented on #1167
I'm also not aware of any SC decision that would have moved to an NC license, which would have been needed. So it definitely seems like a mistake...

[2020-09-09 10:33] andreas-junghanns commented on #1167
Agreed. This needs fixing in 2.0.2 as well, right?
We will discuss this later today, and if all agree this to be a mistake, we can simply accept Christian´s PR.

[2020-09-09 11:29] andreas-junghanns commented on #1165
@KarlWernersson & @TorstenBlochwitz : this sounds much like Modelica concepts. I tried to understand it from the text and without Modelica in mind, I cannot make sense of this. Can you both have a look and see how to formulate this with more clarity?

[2020-09-09 11:36] chrbertsch commented on #1167
No, in 2.0.1 it is fine, no change needed.

[2020-09-09 11:37] andreas-junghanns commented on #1167
Ok, then this is a simple mistake and we should simply accept your PR.

[2020-09-09 12:58] KarlWernersson commented on #1165
I will try to explain it more simple. The problem is that relative quantity is defined to only apply to display unit but this is wrong, it must also apply to base unit.
Say that you have an output which is in degC. This output is a measured temperature difference. As it is defined now if you want to convert this difference to degK you have to add 273.15 as this is the offset.
But a temperature dif

[2020-09-09 14:21] #1167 closed

[2020-09-09 14:34] chrbertsch opened #1171 "Clarify what discrete states are or find a better name"
( from regular design webmeeting)

[2020-09-09 16:15] #1158 closed

[2020-09-09 21:13] andreas-junghanns opened #1172 "Explain local variables"
During today web-design meeting, we discussed that local variables have no dependency information and that was one/the reason why you cannot connect them to other FMUs.

I just found in the text:
Local variable that is calculated from other variables or is a continuous-time state or an event indicator (see ModelStructure)....

For states we do not have dependency information?

[2020-09-10 07:07] andreas-junghanns opened #1174 "Reintroduce clocksTicked to fmi3IntermediateUpdate for SE"
As @MBlesken pointed out, #1127 was too quick: For cooperative preemption in SE, we need the clocksTicked argument in fmi3IntermediateUpdate.

[2020-09-10 07:08] andreas-junghanns commented on #1174
@t-sommer : Should we use the opportunity to introduce a better name than clocksTicked?

[2020-09-11 08:34] #1174 closed

[2020-09-11 10:33] #1154 closed

[2020-09-11 10:33] #1163 closed

[2020-09-14 10:19] IZacharias commented on #1170
@t-sommer Your are right, not all of the attributes make sense for SE.

**canHandleVariableCommunicationStepSize**: can be removed. All information on step size requirements can be taken from the clock variable elements
**canReturnEarlyAfterIntermediateUpdate**: can be removed. Early Return is not supported in SE
**fixedInternalStepSize**: can be removed
**hasEventMode**: can be removed. There is

[2020-09-15 07:22] #1170 closed

[2020-09-15 14:18] andreas-junghanns commented on #1140
This is now explained and merged into master.

[2020-09-15 14:18] #1140 closed

[2020-09-15 14:34] andreas-junghanns commented on #1171
See #1161

[2020-09-15 14:37] andreas-junghanns commented on #1121
#1161 & #1171

[2020-09-16 20:30] pmai commented on #713
To summarize my thoughts on the ways to map increasingly deeper levels of the interface to the bus, based on the current proposal:

## Level 1

The current proposed signal-based level, where mapping to CAN bus, framing,etc. is all handled through mapping information outside of the FMU.

## Level 2

The next slightly deeper level (which is actually already kind of implied in the spec) would be to h

[2020-09-16 21:05] andreas-junghanns commented on #713
I added PR #1177 that clarifies how to transport CAN message data - that is what @pmai calls Level 2.
How to include Level 3 would need a discussion to clarify a few details.

[2020-09-18 12:33] masoud-najafi opened #1180 "Add (*clockTicked) argument to fmi3NewDiscreteStates?"
Wouldn't it be "convenient" if a new argument (fmi3Boolean *ClockTicked) is added to fmi3NewDiscreteStates? Otherwise the importer should check all output-clocks after leaving fmi3NewDiscreteStates. This is very similar to the callback fmi3CallbackIntermediateUpdate where the clocksTicked indicates that GetClock should be called by the importer.
It both cases, it is a convenient flag, not a necess

[2020-09-21 06:40] friedrichatgc commented on #1172
I think a local variable is just a variable you can observe (e.g show it to the user during post processing the results). Nothing else should be done with a local variables (do not use it as output, ...).

[2020-09-21 06:47] friedrichatgc commented on #1171
If we want to rename it we can rename it to "internal states". If these are discrete or not is not relevant the term state here just means that these variables cannot be calculated from other variables since the value is part of the state of the FMU.

The only way to save and restore the state of a FMU is to use fmi3SetFMUstate/fmi3GetFMUState functions. Hence, I think its even not needed to decla

[2020-09-21 06:52] andreas-junghanns commented on #1172
#1171 seems related

[2020-09-21 06:52] andreas-junghanns commented on #1172
web-desig meeting:
Clarify in glossary what a local variable is.

[2020-09-21 06:52] friedrichatgc commented on #1161
The ModelStructure is to expose the structure of the model to the importing tool. But the FMU should still be a black box for the importing tool. The importing tool only requires the structure of the interface (input, output, state derivatives, initial unknowns) of the FMU but should not need to know internals of the FMU structure.
So I don't see a need to list discrete states (being internal stat

[2020-09-21 06:53] andreas-junghanns commented on #1171
web-design meeting:
Clarify in glossary what a discrete state is.

[2020-09-21 06:54] andreas-junghanns commented on #1121
web-design meeting:
Clarify in glossary what a continuous state is.

[2020-09-21 07:28] andreas-junghanns commented on #1128
This issue was decided in the last web-design meeting: both 0- and 1-based is allowed.
@t-sommer : you promised a PR...

[2020-09-21 08:22] masoud-najafi opened #1183 "Shouldn't TriggeredBy information be in the ModelStructure?"
In the Standard we have this description for TriggeredBy:
_The optional attribute triggeredBy is used to define a tick relationship from an outputClock to an aperiodic inputClock
(see [clock-relationships-for-communication-point-clocks]).
Only clocks with causality = input and clockType = communicationPoint can have this attribute.
It is not allowed to combine output clocks with periodic or strict

[2020-09-21 08:52] andreas-junghanns commented on #1172
Local variables are different from outputs in the following ways:
 - Local variables are not input, nor outputs, nor any kind of parameter (see causality definition).
 - Sometimes they are states, their derivatives, clocked states or event indicators.
 - Some local variables are listed in the ModelStructure (if they are Derivatives, EventIndicators or ClockedStates)
 - During initialization: you c

[2020-09-21 09:02] andreas-junghanns commented on #1171
There are continuous states, as we defined them for ME: the solver drives those through time.

There are two kinds of discrete states:
 1. hidden discrete states, as defined in FMI 2.0: Anything defining the internal state of the FMU that changes only at events (still ME!)
   (in FMI 2.0 (ME and CS) they are handled internally, not listed in the modelDescription)
 2. Discretized continuous states

[2020-09-21 09:03] chrbertsch opened #1184 "Add explanation and references to "synchronous clock theory""
We mention "Synchononous Clock Theory" without explaining it.

In 3.1.3 there is a reference to "Synchronous Systems", also with few references including the Modelica Language spec.

(from the discussion on  clocks in the clocks subgroup at the fmi design meeting)

"Synchononous Clock Theory" is listed in the glossary but not  written.

Do we have the same understanding of "Synchronous Clock Theor

[2020-09-21 10:11] clagms opened #1185 "Can events be ignored in co-simulation?"
Started during FMI Design Meeting 21 September 2020.

[2020-09-21 10:11] andreas-junghanns opened #1186 "Clarify "time instant" if it means continuous time, or super-dense time"
Whenever we are describing issues in Event Mode in CS, we must be clearly defining which time we mean (continuous or super-dense).

[2020-09-21 11:43] MBlesken commented on #916
@andreas-junghanns @IZacharias I would close this items if you don't have any objections. The findings seem to have been addressed by other issue items or PRs.

[2020-09-21 11:51] andreas-junghanns commented on #916
Agreed

[2020-09-21 12:02] #916 closed

[2020-09-21 13:22] andreas-junghanns commented on #1029
Add a note about connecting clocked variables.

[2020-09-21 13:27] andreas-junghanns opened #1187 "Describe serialization of array only once and link everywhere else"
From web-design meeting 21.09.2020.

[2020-09-21 13:53] andreas-junghanns opened #1188 "Clarify fmi3GetClock()"
We have to improve description of fmi3GetClock():
 - When are clocked variables valid (when to call fmi3GetXXX())
 - do we need a non-reset version?
 - should the reset-function be called fmi3GetClockAndReset()

[2020-09-21 13:56] andreas-junghanns commented on #1188
- Extend table for SE to allow GetClock for SE in Intermediate Update Mode.
 - IntermediateUpdateCallback must only be interpreted in SE.

[2020-09-21 14:43] andreas-junghanns commented on #1029
_However, just like in FMI 2.0, it could in principle also be implemented by activating the model equations only at the first event iteration and returning always `newDiscreteStatesNeeded == fmi3False` from <<fmi3NewDiscreteStates>>._
_Furthermore, the discrete-time <<state,`states`>> are not updated by <<fmi3NewDiscreteStates>>, but as first action before the discrete-time equations are evaluated

[2020-09-21 14:46] andreas-junghanns commented on #1029
- move some of the content of 3.1.3 "Model Evaluations, Dependencies, and Call Sequence"

[2020-09-21 17:10] andreas-junghanns opened #1189 "Eradicate "external event""
16 places of "external event" need fixing.

[2020-09-21 17:23] #1068 closed

[2020-09-21 17:56] andreas-junghanns commented on #1183
I agree with the fix for triggeredBy, see #1190.

Moving the triggeredBy information to ModelStructure would require extensive changes.
Since this is a 1:m relationship, we cannot move it to ModelStructure/Output - one outputClock might trigger several inputClocks.
InputClocks are not part of ModelStructure yet - so we would need to introduce those.

I believe the PR is sufficient to address this

[2020-09-21 18:40] #1183 closed

[2020-09-21 19:42] chrbertsch commented on #1186
Both "time instant" and "time instance" occur in the text. I think it must all be "time instant", see https://english.stackexchange.com/questions/220028/instance-of-time-vs-instant-of-time

[2020-09-22 06:30] andreas-junghanns commented on #1161
See PR #1191 and issue #1172.

[2020-09-22 07:59] andreas-junghanns opened #1192 "Fix "freezed variables""

[2020-09-22 08:23] andreas-junghanns commented on #1185
Pierre/Andreas: We decided previously that we can ignore events in basic CS.

[2020-09-22 08:46] IZacharias commented on #1188
It seems to be possible to do without an fmi3GetClockAndReset() function for SE. We must then force the FMU to reset the clock activation state of an output clock after calling intermediateUpdateCallback, i.e. during the time the variables of the output clock are accessed, the output clock is active.
Here is an example pseudo code that shows how it can work.
Assume the FMU has two input clocks and

[2020-09-22 08:50] andreas-junghanns commented on #1185
Clarified in PR #1195.

[2020-09-22 08:57] andreas-junghanns commented on #1180
This is an output argument to inform the importer that the an FMU clock ticket.
This saves the importer a lot of GetClock() calls.

Klaus: The name should not use "tick".
Pierre: someClocksActive?

No opposition.

[2020-09-22 10:30] #1185 closed

[2020-09-22 10:32] #1128 closed

[2020-09-22 10:39] chrbertsch opened #1197 "Clarify allowing 0-based arrays in FMI 2.0.2"
In the closed ticket https://github.com/modelica/fmi-standard/issues/1128#issuecomment-688341046 there was left a clarification for 2.0.2

[2020-09-22 17:15] clagms opened #1199 "Multiple possible interpretations of clock API (and examples)"
- Remove clocksAboutToTick from doStep because it's redundant with eventEncountered
- If you want to know if a clock is active, use getclock functions.
- A clock is active in a superdense time instant. call to newDiscreteStates makes it tick, and become inactive.
  - same applies to subactive. If we set a clock subactive, it remains subactive until the next fmi3NewDiscreteStates
- Function fmi3Ent

[2020-09-22 17:27] andreas-junghanns commented on #1199
TODO for next Friday:
 - map out the orthogonal design issues in both approaches
 - check how to re-export both example FMUs in a single FMU
 - contrast to SE communication point clock requirements
 - decide on approach and victim to actually to write the stuff

[2020-09-22 21:49] andreas-junghanns commented on #1188
#1199 contains the results of today´s discussion focused on ME and CS - to be continued...

[2020-09-23 12:38] #1172 closed

[2020-09-23 13:25] chrbertsch commented on #1197
Closed by merging #1198

[2020-09-23 13:25] #1197 closed

[2020-09-23 16:47] #1151 closed

[2020-09-24 10:44] TorstenBlochwitz commented on #1199
After a long discussion between Andreas and Torsten:

Pierre's approach requires that the following works:

But this is not the case: The FMU would have to use the floating point time to make this decision. Depending on the time resolution of the importer the current event time might be shortly before or after the time, which was required by the FMU in Decay.getInterval(outputclock), but however m

[2020-09-24 13:29] clagms commented on #1199
@TorstenBlochwitz I don't think this is an issue. I tried to see it from the Scenario [Partially predictable aperiodic with clockedPartition on outputs by Pierre] but could not see it.

Here's a reproduction of that scenario, with some more comments added and better notation for rigor.
It was good that you pointed this because I think there's another minor problem with the pseudo code (commented b

[2020-09-24 16:55] clagms commented on #1199
@andreas-junghanns , one more item for Friday's meeting:
- [ ] Work out an example with algebraic loops on the clocked partition.

I haven't had the time to work this out, but it seems that Pierre's approach works, even with different ways in whcih the algebraic loop can be solved:
Approach 1: the solution to the algebraic loop is done through fixed point iteration without incrementing the integer

[2020-09-25 09:59] clagms commented on #1199
After having read through the original change proposal, and the paper in the modelica conference, here what I think the original intention of how to use the clocks was.
It does not seem to contradict any of the references I read, and does not require any major changes in what the fmi standard doc currently says.
I still have to double check the case of algebraic loops and the case that Massoud poi

[2020-09-25 10:06] chrbertsch opened #1207 "Introduce /extra directory in FMI 2.0.2"

[2020-09-25 11:58] clagms commented on #1199
Here's an example with an algebraic loop (there's another approach to solve algebriac loops, which I want to explore).

## Clock with algebraic loops spanning output variables only - Method solve algebraic loop in same superdense time instant.

In this scenario, there's an algebraic loop spanning the output equations of the clocked partitions.
Clock `k` is unpredictable.

[code]

- Simulation time

[2020-09-25 13:07] #1192 closed

[2020-09-25 13:07] #1189 closed

[2020-09-30 16:04] TG9541 commented on #713
@pmai from my understanding I'd like to describe your levels like this:

## Level1

Signal specs as defined a bus node in a K-matrix (communication model). The origin of received signals is modeled outside of the ECU. The update rate of
signals sent is an intrinsic property of the model (associated to events or to clock domains). The receiver can model reception (or non-reception).

This level is

[2020-09-30 17:44] chrbertsch commented on #1184
@TorstenBlochwitz  : As this also relates to differences to Modelica Clocks: May I assign this ticket to you?

[2020-09-30 18:17] chrbertsch commented on #1207
Today we discussed this in the Steering committee and will vote on this issue in the next meeting.

I created draft PR #1210 to show and discuss the changes.

[2020-10-01 08:59] t-schenk opened #1211 "Stopping of FMUs during doStep"
The current FMI 3.0 specification states several times in chapter 4.2.4 that the co-simulation master can "stop/interrupt/request an early return to" FMUs immediately due to the early return mechanism (e.g. in the case that one of the FMUs fires an event).
But, currently the only call to a FMU to request an early return is by using the return variables earlyReturnRequested and earlyReturnTime of t

[2020-10-01 09:10] andreas-junghanns commented on #1211
The master cannot enforce a stop of doStep: the FMU must cooperate by calling fmi3CallbackIntermediateUpdate.

[2020-10-01 09:11] ghorwin commented on #1211
So far, the FMI Co-Simulation protocoll is a sequential one, meaning that the master executes a doStep() call to a single FMU and has to wait for it to return. While it is possible for master developers to utilize parallelization (i.e. spawning several threads and executing an FMU in each thread), still within each thread the master *has to wait faithfully* for the FMU call to return. This ensures

[2020-10-01 11:38] t-schenk commented on #1211
Your comments confirm what I assumed.
But then please correct the whole passage 4.2.4. There are several statements that are (at the minimum) misleading, e.g.

- "In the case of FMU3, computation is immediately interrupted ..."
- "In the case of FMU4, the master immediately requests FMU4 an early return ..."
- "In particular in multi-node architectures, significant co-simulation speed-up may be ob

[2020-10-01 11:50] andreas-junghanns commented on #1211
Please submit a PR that clarifies this beyond your doubts.

[2020-10-01 11:58] pmai commented on #1211
I think certain parts of this are just leftovers from former proposals which did include an asynchronous "abort what you are doing at your earliest convenience" feature, which was dropped.

[2020-10-01 12:29] t-schenk commented on #1211
I'll provide a PR.

[2020-10-05 08:06] andreas-junghanns commented on #1090
PR pending final approval.

[2020-10-05 08:10] andreas-junghanns commented on #713
This issue is alive and being worked on.

[2020-10-05 08:11] andreas-junghanns commented on #583
This needs to stay open as a reminder until we release.

[2020-10-05 08:11] andreas-junghanns commented on #1061
This requires a few hours of quiet time to do.

[2020-10-05 08:14] andreas-junghanns commented on #1186
This waits for clarification on clocks and events.

[2020-10-05 08:14] andreas-junghanns commented on #1121
This waits for clarification on clocks and events.

[2020-10-05 08:14] andreas-junghanns commented on #1066
This waits for clarification on clocks and events.

[2020-10-05 10:54] chrbertsch commented on #1211
@t-schenk and @antvl : until when? (latest Oct 16th) Thanks in advance.

[2020-10-06 06:25] clagms commented on #926
I've planned to go over this next Saturday (10 October).

[2020-10-06 12:38] t-schenk commented on #1211
For clarification of the intermediateUpdate function:
there seem to be contrary statements in the current documentation about the utilization of the intermediateUpdate function for events/clockTicks in the case of Co-Simulation:
* chapter 2.1.7 points out that the parameter clocksTicked is only used in SE and ignored in CS,
* introduction to chapter 4 and subchapter 4.2.3 (CS API) describe that th

[2020-10-07 11:31] TorstenBlochwitz commented on #926
@clagms: Andreas and I will meet next week for the next WriteFest. At our last meeting we started to restructure the state machine sections. At this meeting we plan to continue. One idea is to merge the state machine sections with the mathematical description for each state in order to avoid ambiguities and to have one place where everything is described for one mode.

It would be great if (if you

[2020-10-07 15:26] KarlWernersson commented on #326
As i understand the ticket this is about when the FMU write directly to file an not about using the api.
This is curently not somehting that is handled by the fmi standard.

The model exchange interface allow a master to interpolate the output the same way as a normal solver.
If one want the fmu does this internaly and dump it to a file this is a quit large change and should be included with a gen

[2020-10-07 15:27] KarlWernersson commented on #369
I will fix a PR next week

[2020-10-07 15:31] KarlWernersson commented on #1161
These was included in the original clocks proposal and some how got lost when the hybrid co-sim was merged and i was on parental leave.

There was a discussion to rename them to clocked states to avoid confusion.

These are optimal to add (similar as it it optional to expose the continous state derivatives for a co-simulatoin fmu)
They would list the discretized continuous states, or the discrete

[2020-10-07 15:32] KarlWernersson commented on #1165
I will make a PR next week

[2020-10-07 15:33] KarlWernersson commented on #1171
#1161

[2020-10-07 17:22] #326 closed

[2020-10-07 18:20] pmai commented on #1136
How and whether to refactor the clocks API depends to a certain extent on the actual clocks discussion results, since the actual API still left/newly introduced will have an impact on this as well.

[2020-10-08 11:43] oliverkotte opened #1213 "eliminate clock union section, move concept to input clock section?"
Do clock unions really need to be introduced as a term warranting its own section? To reduce complexity of presentation, it may suffice to add one/few sentences to the input clocks section. They would state that an (aperiodic) input clock may depend on an output clock of the same FMU (so that the FMU can tell the importer to trigger the FMU's own event handling, with applications for SE)? I am not

[2020-10-08 15:51] masoud-najafi opened #1214 "Output-clocks may depend on several input clocks"
One of important assumption in the Clock support in FMI-3.0 in given in section 2.2.7, where it is mentioned that
_"If the clock referenced by clockReference is a synchronous clock (clockType = synchronousTime), the variable is a clocked variable associated uniquely with this clock. It is not possible to associate more than one clock to a variable."_

We agree that this statement should be respect

[2020-10-08 15:52] masoud-najafi opened #1215 "Is multi-dimentional clock variables really needed?"
Clock variables can be multi-demension, but there are a few clarification need to be done:
1) Can the dimension and sizes of a variable be different from that of its referenced-clock? For example, is it correct to assign a matrix clock variable to a scalar variable?
2) Suppose that the dimension and size of a variable V be identical to that of its reference clock C. Does clock C(i,j) affect only t

[2020-10-08 16:36] andreas-junghanns commented on #1215
If this is too complicated, we could think of restricting clock variables to be scalar only in 3.0.

[2020-10-08 17:01] masoud-najafi commented on #1213
IMHO, clock union is/should not be restricted to input clocks. In a complex model, even with the current specification, the clock union is possible, i.e., an output clock may "directly" depend on several input clocks. The TriggeredBy attribute is just a shortcut to a clock union between the output-clock and the input-clock to activate an internal partition. We can very well get rid of the Triggere

[2020-10-09 06:58] chrbertsch opened #1216 "Define "layered standard" in the FMI3 specification document."
In the current speficiation, we refer to "layered standards" in the context of the extra directory, but do not explain what they are.
We should have description/definition in the specification text.

SSP https://ssp-standard.org/publications/SSP10/SystemStructureAndParameterization10.pdf  defines it this way

I will provide a PR until Oct 16th, shall be updated after we have defined the rules for

[2020-10-09 07:32] chrbertsch commented on #1216
Perhaps we should have sections on "Extensibility" and "Versioning and Layered Standards" in the "common concepts" sectoin just as SSP has Section 2.1 and 2.2, see https://ssp-standard.org/publications/SSP10/SystemStructureAndParameterization10.pdf

Thus it is related to https://github.com/modelica/fmi-standard/issues/1061

[2020-10-12 07:18] #1211 closed

[2020-10-12 08:17] #1216 closed

[2020-10-12 09:10] #1061 closed

[2020-10-12 21:23] t-sommer opened #1220 "Allow inverse display units"
Example: `mpg` (miles per gallon) as display unit for `L/100km` (liters per 100 km)

[code]

The display value `v_display` would be converted from the base value `v_base` as

[code]

if `invert == true`.

[2020-10-12 21:49] andreas-junghanns commented on #1220
Would the DisplayUnit not also need a Unit, like "mpg" as attribute?

[2020-10-12 21:52] andreas-junghanns commented on #1220
Should BaseUnit not have m="-1e5"?

[2020-10-13 04:53] t-sommer commented on #1220
I've updated the example.

[2020-10-13 05:32] chrbertsch commented on #1220
I do not like this idea: the inverse is a different physical quanatity, and not just another  display unit.
Addtionally, it complicates the definition of units, and we will run into problems like division by zero.
I think for an inverse quantity you need an explicit conversion either in you model to be exported as an FMU or in the postprocessing of the simulator.

[2020-10-13 07:56] t-sommer commented on #1220
A separate variable only shifts the problem from the importer to the FMU.

[2020-10-13 10:00] chrbertsch opened #1221 "What is the meaning of intermediate variable access in SE? are there continuity assumptions for output variables in Intermediate update in CS and SE?"
Invermediate update mode is available in SE, see the overview https://fmi-standard.org/docs/3.0-dev/#table-overview-features and https://fmi-standard.org/docs/3.0-dev/#IntermediateUpdateModeSE .  There https://fmi-standard.org/docs/3.0-dev/#IntermediateUpdateMode from the the common concept section is referenced.

In the table in https://fmi-standard.org/docs/3.0-dev/#definition-of-model-variables

[2020-10-13 10:05] andreas-junghanns commented on #1220
... which would be a good shift. The FMU usually has more information about its variables and know when to expose inverse unit variables.

[2020-10-13 10:17] t-sommer commented on #1220
Consider the case of a parameter `fuel_consumption`:

With the separate variable, you would have something like this

[code]

as opposed to

[code]

[2020-10-13 15:51] andreas-junghanns opened #1223 "Drop setting of variables in Instantiated?"
Why do we allow setting of variables in Instantiated?
Can´t we restrict setting to Initialization Mode?
We currently have the same restrictions (except for inputs) on both modes.

We propose to keep Instantiated simple and focused on resource allocation.
Otherwise, a detaour via Configuration Mode can cause some trouble: what values survive when arrays need to be resized etc.

[2020-10-13 20:17] jbernalr commented on #369
@KarlWernersson for your PR, I think one would need to consider and improve as well what is written in the definition of the atribute 'start'. As the here recommended SSP Standard is not really working in practice, I would tend to get more flexibility here. People are comming up with their own hacks on top of the master in order to re-parametrize FMUs which are unfeasible to re-export.

Currently

[2020-10-14 09:25] KarlWernersson commented on #1223
We don't have the same restrictions.

One type of variables that can only be set in instantiated but not in initialization mode. Is the start values with intial=aprox these are start values for variables  that are calculated though some internal nonlinear equation or other iteration.
As other start values with initial=exact might affect the solution to this equation it can sometimes be necessary t

[2020-10-14 09:29] KarlWernersson commented on #369
#1223

[2020-10-14 09:34] KarlWernersson commented on #369
@jbernalr , I dont exactly understand what it is that you want, to remove the reference to SSP? I don't see a problem with that.
To allow users to start changing xml? This is a very radical change as the xml no longer then represents the model. It would at minimum require that we remove the requirement that all start values are set by default.

[2020-10-15 18:44] andreas-junghanns commented on #1223
@KarlWernersson : Are you suggesting that we treat both modes the same? Or are you suggesting that we apply different restrictions on what variables can be set during which state of these two states (Instantiated and Initialization Mode)?

[2020-10-16 07:21] #1090 closed

[2020-10-16 14:40] chrbertsch commented on #1220
Still to my opinion this goes beyond the idea of displayunits and will cause additional problems, see above.
So I propose to close this. Shall be discussed at next regular FMI design webmeeting.

[2020-10-16 14:42] chrbertsch commented on #1187
@klausschuch : Could you please comment and provide a PR?

[2020-10-16 15:10] masoud-najafi commented on #1057
Hi @t-sommer ,
I made an example for BCS with early return without testing it. I understood that you had already done this on your side, so I abandoned my own example and did not add it to reference FMUs. Please let me know if you need me to add another example?
Thanks
Masoud

[2020-10-16 15:14] chrbertsch commented on #1221
Could some please comment, he or she shares my problems or if they go away? Thanks
@IZacharias , @MBlesken  and others

[2020-10-16 15:16] masoud-najafi commented on #1180
With the recent changes in the way clocks are handled in FMI-3.0, I think this ticket becomes obsolete and we can close it without doing anything. Except the for the name NewDiscreteState , where fmi3DoDiscreteStatesUpdate becomes more meaningful.
@clagms , What do you think about this ticket?

[2020-10-16 15:17] clagms commented on #1180
Agreed @masoud-najafi !

[2020-10-16 15:19] clagms commented on #926
It's best we close this and do another review iteration later, trying to elicit new problems :)

[2020-10-16 15:20] #926 closed

[2020-10-16 15:24] masoud-najafi commented on #1199
If I understood correctly, after the meeting on 16 october 2020, @TorstenBlochwitz  indicated that the calling sequence detailed in the page 9 of this presentation
[Alatir_clock_handling.pdf](https://github.com/modelica/fmi-standard/files/5392536/Alatir_clock_handling.pdf)
would be included in the standard as the latest (more recent) interpretation of Clock APIs. This interpretation is subject to

[2020-10-16 15:40] chrbertsch commented on #1049
@clagms and @pmai : Do you see a chance to fix this in the tooling? Or would you recommend to do the reordering in the xsd-files? Or will this have side-effects? This is not the most urgend ticket, but I would like to get it out of the way.

[2020-10-16 16:34] andreas-junghanns commented on #1180
IF we change this, I suggest to use fmi3UpdateDescreteStates().

[2020-10-16 16:36] masoud-najafi commented on #1180
OK, I will rename them to fmi3UpdateDiscreteStates.

[2020-10-16 16:49] andreas-junghanns commented on #1223
@TorstenBlochwitz : Can you decode Karl´s answer and does that mean we can close this ticket?

[2020-10-17 10:34] t-sommer commented on #1057
We'll have to wait until the specification of the clocks in CS is finalized.

[2020-10-17 10:37] t-sommer commented on #459
I suggest to close this issue.

[2020-10-18 05:43] clagms commented on #1180
Sorry the delay @masoud-najafi ! I see that you've already done quite well 😄

[2020-10-18 05:54] bernaloo commented on #1180
@masoud-najafi I can do that :)

[2020-10-18 07:23] clagms commented on #1049
I've updated the pre-release to fix this:
https://github.com/clagms/xsddiagram/releases/tag/XSDDiagram_1.2_FMI

The following PR updates the pngs:
https://github.com/modelica/fmi-standard/pull/1225

@chrbertsch please confirm that the generated figures are in the right order. I've confirmed this for the fmiModelDescription png file.
The code is the same for all the other files, and I've not notice

[2020-10-18 07:26] clagms commented on #1049
@chrbertsch if you have used the script `generate_figures.ps1` before, and you wish to regenerate the pngs on your machine, make sure to delete the folder `xsddiagram` where the old files downloaded from the release are.
This will cause the script to download the new version.

[2020-10-18 07:31] clagms commented on #1199
I can volunteer to write about this @TorstenBlochwitz , as I've already notes on the meaning of each function.
Just need to update those notes for @masoud-najafi 's interpretation (minor changes as I recall from our last meeting).
So, with some help from @masoud-najafi (to clarify here and there) I think I have enough material to write about this.

[2020-10-18 07:43] #1049 closed

[2020-10-18 10:42] chrbertsch opened #1226 "Move "2.5.6.1. Supporting Multiple Interface Types in one FMU" to somewhere else and improve the wording"
Currently, "2.5.6.1. Supporting Multiple Interface Types in one FMU" is a subseciton of "2.5.6 Extra directory", which does not fit. I assume this was done by mistake during the "big move"

Different options are
- move 2.5.6.1 to to a new 2.5.7
- move it to 2.2 common concepts
- or somewhere else?

Technical points:
- `The described multi-mode support is based on wrapping functionality into the fm

[2020-10-18 16:25] andreas-junghanns commented on #1199
Yes, of course, please go ahead (try to be brief in all explanations)!

[2020-10-18 16:28] #459 closed

[2020-10-19 06:11] oliverkotte commented on #1213
Tbh, I am still confused.
In the current FMI3 spec, the clock union section defines clock unions as input-clock(s) TriggeredBy an output-clock.
In your answer, you use the term clock union more loosely, stating it would also include “i.e.” an output-clock depending on input-clock(s).
For input-output-clock relationships within the same FMU, I gathered:

1. input-clock(s) TriggeredBy output-clock:

[2020-10-19 07:28] #979 closed

[2020-10-19 07:49] KarlWernersson commented on #1223
I am saying that we currently have different restrictions and changing this would affect how start values with initial="aprox" is handled

[2020-10-19 07:50] KarlWernersson commented on #1223
So that would need a solution before we change it

[2020-10-19 17:34] andreas-junghanns commented on #1223
No, I think this is clear - thank you for the explanation. Closing ticket.

[2020-10-19 17:34] #1223 closed

[2020-10-19 18:25] #1226 closed

[2020-10-20 09:56] masoud-najafi commented on #1213
1) Yes, this is the current interpretation mentioned in the Standard and it is for SE.
2)Having a loop from outputClock into an input-clock is a mechanism to activate a partition inside the FMU that programs an aperiodic clock. Using a TriggeredBy is doing the same in SE. Using TriggeredBy in ME to replace this external output-clock to inputClock has not yet introduced in the current standard.
3)T

[2020-10-20 12:24] IZacharias commented on #1221
@chrbertsch @MBlesken In SE the intermediate update mode is used to inform the master about ticking output clocks. The access to intermediate variable values is not possible and therefore not mentioned in chapter 5. The intermediatUpdate attribute is ignored in SE.

[2020-10-20 13:05] chrbertsch commented on #1221
Regular Design Meeting:

in the overview, add the information that intermediate update in SE is only possible to signal output clocks, not to exchange input and output values.

[2020-10-20 13:07] chrbertsch commented on #1221
Either Irina or I will create a PR in the next week

[2020-10-20 13:29] chrbertsch commented on #1220
Regular Design Meeting:

Karl: What do do with the combination of inverse with an offset? Or prohibit it.
Pierre: I do not see the point for display unit at all
Torsten: in the  GUI
Pierre: but not the FMU
Karl:  Display units are quite practical
Karl: the importing tool has to deal with division
Pierre: If one wants this, there are use cases
Klaus: we ignore display units. No need for any extensi

[2020-10-20 13:37] chrbertsch commented on #1187
FMI Design meeting: I will create a PR today.

[2020-10-20 13:39] chrbertsch commented on #529
FMI Design meeting: @klausschuch I will create a PR today.

[2020-10-20 13:40] chrbertsch commented on #843
FMI Design meeting: @klausschuch I will create a PR today.

[2020-10-20 13:41] chrbertsch commented on #1165
Regular FMI Design Meeting:  @KarlWernersson: I will create PR until next week

[2020-10-20 13:50] chrbertsch commented on #369
Regular Design Meeting:
Jorge: Users are changing the xml to set parameters. If you modify the allowed calls anyway, one could do larger change
Christian: This a different topic
Karl: And there is SSP to address this
Pierre: in the FMI standard we cannot do anything without modifying the FMU (XML)
Christian: off topic: one could put the Parameter file of SSP in the extra directory
Klaus, Karl: the

[2020-10-20 16:11] t-sommer opened #1232 "Merge <BaseUnit> into <Unit>"
as there is no benefit of having an empty `<BaseUnit>` vs. simply leaving the attributes at their defaults.

[2020-10-20 16:47] t-sommer opened #1233 "Add defintion of the term "signal""
that is used throughout the document, but not defined in the glossary

[2020-10-21 07:46] #1180 closed

[2020-10-21 07:47] #1221 closed

[2020-10-23 19:45] andreas-junghanns commented on #1233
Would it not be better to change "signal" to "variable" and not use "signal" at all?
(not where we use "to signal" as verb, we have to be careful)

@t-sommer : if you agree, I will create a PR.

[2020-10-23 19:49] t-sommer commented on #1233
Not sure if "variable" is always the intended meaning...

[2020-10-23 20:00] andreas-junghanns commented on #1233
Let me try and we will see what is left and if we need "signal" as extra concept.

[2020-10-23 20:53] andreas-junghanns commented on #1233
@t-sommer : Can you have a look? I think this is ok now and there is only one "signal" left in the Reference-FMU repo.

[2020-10-24 19:36] #1233 closed

[2020-10-24 19:42] andreas-junghanns commented on #1232
Can you check #1187 and see if you can address this issue as well?

[2020-10-24 19:45] chrbertsch commented on #1232
@andreas-junghanns: Are you sure you linked the right ticket? I do not see the connection.

[2020-10-24 19:56] andreas-junghanns commented on #1232
Sorry, wrong. Fixed.

[2020-10-26 08:06] masoud-najafi opened #1238 "Auto-reset clock for ME/CS"
in Section 2.2.7.9 there is this statement:

"It is required for an FMU to directly internally set back the activation state of an output clock[i] to fmi3ClockInactive, if the function fmi3GetClock is called for a clock[i] and the interface is Scheduled Execution. [This is required to allow preemption.]
[TODO: WHAT? Separate issue to discuss needs of preemption. Link to example. This is necessary

[2020-10-26 09:08] andreas-junghanns commented on #1238
Resetting clocks during UpdateDiscreteStates() is in line with considering the clock activation state to be part of the discrete state.
Spinning this thought further would also mean that a clock can only turn active during UpdateDiscreteStates().

[2020-10-26 09:23] masoud-najafi commented on #1238
I would say, a clock life cycle would be from SetClock to the end of UpdateDiscreteStates().

[2020-10-26 10:01] andreas-junghanns commented on #1238
Yes, agreed. Now, how would a clock get activated within one super-dense time instant? It must be prior to EnterEventMode() or during UpdateDiscreteStates(). Only then will the importer know to call SetClock().

If this is the case, then I suggest that the semantic is clear: the clock activation state is part of the discrete state.

If we can agree on this, explaining the semantics and mechanisms

[2020-10-26 10:36] masoud-najafi commented on #1238
Suppose that there are two independent clocks clk1 and clk2 have been both scheduled at time Te. When the simulation time reaches Te, the importer should call:

EnterEventMode() //here the discrete mode starts
SetClock(**clk1**) // here the super-dense time for **clk1** starts
getXXX // do all necessary iterations such as solving algebraic loops
setXXX
UpdateDiscreteStates() // here the super-dens

[2020-10-26 11:44] masoud-najafi commented on #1238
Also, suppose there is a dependent clock **clkd** that depends on another independent clock **clk**.
When the execution time of **clk** arrives:

EnterEventMode() //here the discrete mode starts
SetClock(**clk**) // here the super-dense time for **clk** starts
getXXX // do all necessary iterations such as solving algebraic loops
setClock(**clkd**) // if it happens that the dependent clock **clkd**

[2020-10-26 12:10] masoud-najafi opened #1239 "Use variability attribute of a "clock" to indicate its periodicity type"
Currently the variability of a clock does not carry any useful information about the clock. The dataType of clock variables is sufficient to check the consistency of connections between input and output clocks.
Wouldn't it better to use the variability attribute of clock variables to indicate the periodicity of the clock?
For example, the period of "periodic" input or output clocks can be CONSTANT

[2020-10-26 12:40] andreas-junghanns commented on #1238
Why do we call setClock(clkd) after the other get/set calls? Either the dependent clock was already active when entering event mode, or we will find out about it´s activation only when calling UpdateDiscreteStates(), right?
My understanding: Any setClock must happen directly after EnterEventMode or after UpdateDiscreteStates.
Otherwise, clocks cannot be considered part of the discrete state becaus

[2020-10-26 15:49] andreas-junghanns commented on #1238
@pmai / @TorstenBlochwitz : Please comment

[2020-10-26 16:00] oliverkotte commented on #1213
Yes, it does, thank you. It’s just that I still cannot fully shake the feeling that two different things are thrown together into one bucket that is labelled ‘clock union’.

1+2. are artificial mechanisms that use TriggeredBy to achieve a desirable feature (to be able to self-activate a partition; to be able to call set on input not output). These mechanisms operate on the level of the FMI interfa

[2020-10-26 16:08] masoud-najafi commented on #1238
What you are saying is right for "independent" clocks. The dependent clocks are a bit different. Consider, for example, an FMU that subsamples its input clock and ticks out one out of N ticks at its output clock.
How should the output ticks of this FMU be handled? The answer would be clearer if you consider the case N=1. If N=1, the FMU should look like a simple connection.
A dependent clock is ac

[2020-10-26 17:27] masoud-najafi commented on #1213
Completely agree with you. Maybe having completely separate sections, for example "TriggeredBy", "Dlock-dependency" or "Clock-union" to separate these things would be better to avoid confusion. Just need to find good locations to explain them.
CC: @andreas-junghanns

[2020-10-27 11:11] TorstenBlochwitz commented on #1238
Hi Masoud, together with Pierre and Andreas, we discussed your calling sequence.
What we do not understand is: if clkd is a dependent clock, how can the importer call fmiSetClock for it? clkd depends on clk, the importer does not know, how it depends. For that reason it is an Output Clock, the importer can call fmiGetClock on it.

For that reason and from our point of view, the calling sequence sh

[2020-10-27 11:13] TorstenBlochwitz commented on #1239
We discussed this topic last week. Pierre volunteered to come up with a proposal, which will be discussed tomorrow in our next meeting.

Please be a bit patient.

[2020-10-27 11:32] masoud-najafi commented on #1238
The importer has the dependency information in the ModelStructure. The clkd which is an output-clock should declare clk (which is an input clock ) in its dependency list. If clkd is not in the dependency list it will be an independent clock.

**Wait wait**, I made a mistake in my calling sequence. You have fixed my calling sequence. I just add the a line to do it more precise.

    fmiEnterEventMo

[2020-10-27 11:35] masoud-najafi commented on #1239
Very good. It would be good if @pmai  could share the document before the meeting to let the others read it beforehand.

[2020-10-27 12:23] masoud-najafi opened #1242 "Clarification on assigning partition to outputclock in SE"
In section 5.2.1.2. (State: Clock Activation Mode), there is this statement:
"The fmi3ActivateModelPartition function is not called for output clocks of an FMU."

But in section 5.1, there is this statement:
"Model partitions that are associated to output clocks will accordingly provide the result values of the model partition’s variables for the current outputClock tick time ti of the active outp

[2020-10-27 16:40] chrbertsch commented on #1207
Closed with #1210

[2020-10-27 16:40] #1207 closed

[2020-10-27 17:59] #1187 closed

[2020-10-28 11:38] andreas-junghanns commented on #369
@KarlWernersson : Can you please have a look and provide a PR now?

[2020-10-28 13:59] IZacharias commented on #1242
@masoud-najafi Your are right, the section 5.1 is not correct or at least misleading. A model partition cannot be associated to an output clock. What is meant here is that a variable can be associated to an output clock, i.e. the variable can be accessed when the output clock ticks.
We will fix this in the specification.

[2020-10-29 10:07] GHannesen opened #1243 "Bad default value for variability in fmi3Variable.xsd"
In line 330 of fmi3Variable.xsd there is a default value for variability:
		<xs:attribute name="variability" default="continuous">

As type: <xs:complexType name="fmi3VariableCore" ...
is used for all variable types, for example integer,
the default is wrong and should be removed.

[2020-10-29 11:30] GHannesen commented on #1243
Actually the behavior is defined in the specification:
"The default is continuous for variables of type <Float32> and <Float64>, and discrete for all other types."

This doesn't match the xsd

[2020-10-29 11:31] GHannesen commented on #1243
... of type <Float32> and <Float64>, ...

[2020-10-29 12:23] t-sommer commented on #1243
Can you propose a solution?

[2020-10-29 14:05] pmai commented on #1243
In XML Schema 1.0 the only solution is to remove the default value in the schema, i.e. the proper default must be handled by the application layer. PR posed.

[2020-10-29 14:48] KarlWernersson commented on #1232
I would say that there is a theoretical difference by having an empty Base unit vs having no base unit, and that is that an empty base unit could be interpreted that the tool has done proper unit checking and knows that this unit it unitless in S.I, e.g. ppm in the example. By not specifying base unit it could be seen as that the tool hasnt bothered to do a unit check.

This is however quite impli

[2020-10-29 15:23] GHannesen opened #1246 "Problem with mandatory attributes in variable and typeDefinition"
In FMI2.0 there were no mandatory attributes for any variable type. So no problem then.
Now, for clock variables there is a problem:
If a clock variable refers to a declared type, this declared type must contain the mandatory attributes "clockType" and "priority".
But the variable itself must provide for these attributes as they are mandatory here as well.
This means, the attributes "clockType" an

[2020-10-29 15:45] KarlWernersson commented on #1165
@chrbertsch
This is a bug that should be fixed in 2.0.2 also

[2020-10-29 19:01] chrbertsch commented on #1165
@KarlWernersson : I will do so when you have created a PR :-)

[2020-10-30 00:20] #1243 closed

[2020-11-02 20:52] chrbertsch commented on #1232
@t-sommer : could you please provide a PR for this? Thanks!

[2020-11-03 09:26] KarlWernersson commented on #1232
Thinking some more i am not 100% sure it is a good idea.

It could be nice to clearly separate the base unit from the unit.
Technically it would be the same but it helps to more clearly define that the unit is not it's base unit, rather the base unit defines how the unit can be mapped to a set of SI units with the help of offset and factor.

So after a seccond thought i think it is better to leave

[2020-11-03 10:04] KarlWernersson opened #1250 "event mode lists exit initialization mode as allowed function calls"
In the current standard in envet mode it lists

Allowed Function Calls
Function fmi3ExitInitializationMode
When the Initialization Mode is terminated with fmi3ExitInitializationMode, then Event Mode is directly entered, and the continuous-time and discrete-time variables at the initial time are computed based on the initial continuous-time states determined in the Initialization Mode.

But this fu

[2020-11-03 10:08] KarlWernersson opened #1251 "Malplaced co-simuation comment in event mode"
In  2.3.2.1 https://fmi-standard.org/docs/3.0-dev/#EventMode
between allowed function call fmi3ExitInitializationMode (error covered in #1250 )
and  fmi3UpdateDiscreteStates

the following text is misplaced

The co-simulation algorithm and the FMU enter this state when the co-simulation algorithm calls fmi3EnterEventMode in state Step Mode, in order to handle discrete events and clock ticks. If th

[2020-11-03 10:13] KarlWernersson opened #1252 "figure 12,13,14,15,16 are to small and hard to read"
Title says it all

[2020-11-03 10:23] KarlWernersson opened #1253 "Table 7. structural parameter with variability constant"
Structural parameters with variability constant is  ~~allowed~~. (edit)
Example arrays with constant dimensions.

This is missing in table 7 and subsequent unnumbered table  (Discussion of the combinations that are allowed) is missing this combination

[2020-11-03 10:25] KarlWernersson commented on #1253
Also in table six
the commination is both (exact), and forbidden (--)

[2020-11-03 10:26] KarlWernersson opened #1254 "most tables are missing numbering"
Some tables has a number, most don't.

I suppose the idea is that we number them all?
Then we have some work to do =)

[2020-11-03 10:32] KarlWernersson opened #1255 "fmi3Set{VariableType} in initialization mode is over specified"
In 2.3.1.2 fmi3Set{VariableType}
We lisst the allowed combinations

For variables with:

- variability ≠ constant that have initial = exact, or

- causality = input, or

- causality = parameter and variability = tunable.

However

- causality = parameter and variability = tunable.

is already covered by the first one

- variability ≠ constant that have initial = exact

and should therefore be remo

[2020-11-03 12:35] andreas-junghanns commented on #1253
What would be the use for such a constant structural parameter? Documentation?
Would you not want a structural parameter to be at least fixed such that it makes sense to have it?
I agree, a small non-normative text should be added as footnote.

[2020-11-03 12:38] andreas-junghanns commented on #1250
We have started a PR that also fixes this (not even draft yet).

[2020-11-03 12:38] andreas-junghanns commented on #1253
We have started a PR that also fixes this (not even draft yet).

[2020-11-03 13:09] KarlWernersson commented on #1253
Sorry my bad, I was thinking on the dimension of arrays with constant sizes, but they reference constant variables directly instead of a "structural constant". So no it should not be allowed, however the table still need to be fixed.

I.e add an (a) in table seven for constant structural parameter, and update (a) in the table Explanation why this combination is not allowed

[2020-11-03 13:13] t-sommer commented on #1232
I'm not proposing to get rid of the term "base unit", which will still be used (and defined) in the spec. It's only about cleaning up the XML. We've done the same for the types (inside `ScalarVariable`) etc.

[2020-11-03 13:20] chrbertsch commented on #1232
@t-sommer :  perhaps this can be most easily shown an discussed by providing an a draft PR :-)

[2020-11-03 13:23] t-sommer commented on #1232
It's quite an effort to rewrite the chapter, so I just want to make sure everybody is on board.

[2020-11-03 14:04] KarlWernersson opened #1256 "Table 1 modelExchange features"
Feature  Early Return  & Intermediate Update is marked as an X for model exchange, this should rather be a -, as you can actually do both there as it is included in its definitions of ME, however you not need the cumbersome additional features of co-simulation to do it.

[2020-11-03 14:35] KarlWernersson commented on #1220
The formula is wrong for inverse, it has to be either

1. factor/(unit-offset)

2. 1/(factor*unit -offset)

(1) looks nicer but (2) has the benefit that factor and offset stay the same value as for the non inverse case.

A third option would be to skip the combination of inverse and offset. I cant find a practical use case were is actually needed. Then we could keep the simple formula factor/unit,

[2020-11-03 16:19] andreas-junghanns commented on #1256
@KarlWernersson : are you sure? So far, I thought that there is no need to have Intermediate Update Mode in ME because the master has complete control over how to advance time and when to set which input and read output. This is completely different in CS and SE where the control during a doStep() or activateModelPartition() must be handed back actively to the importer.

If you think ME can benefi

[2020-11-03 16:32] chrbertsch commented on #1256
Coming back to Karls proposal, we should perhaps clarify  and add a legend explainging what "x" and "-" mean in that table:

For me:
"check": suppported
"x" not supported
"-" not relevant/does not make sense

For me that points that Karl mentions are "not relavant" for ME, as you do not need these features and can get the same or even better with ME-means.

So Karl does not propose to use the "che

[2020-11-03 16:39] chrbertsch opened #1259 "Move 2.2.9 "Getting Number of Event Indicators" to chapter 3 (ME)"
... as this is specific to ME and not common concept

https://fmi-standard.org/docs/3.0-dev/#_getting_number_of_event_indicators

[2020-11-03 16:54] andreas-junghanns commented on #1255
If we make inpts initial=exact (see #1244), then we can remove the 2nd condition as well, see #1260.

[2020-11-03 20:24] #1253 closed

[2020-11-03 20:25] KarlWernersson commented on #1256
@chrbertsch @andreas-junghanns
yes Christian understood me correctly
Form my understanding there should be  "-" as it is not relevant. An ME master can "return" whenever it want's and inquire values whenever it wants so it can do already all of this whit out the extra API's. But it does not use the exact features that are added to co-simulation.
sorry if I was unclear.

[2020-11-03 20:42] KarlWernersson commented on #1259
Also the subsequent  2.2.10 Getting Number of States
https://fmi-standard.org/docs/3.0-dev/#_getting_number_of_states

[2020-11-03 20:58] andreas-junghanns commented on #1251
I removed these sentences - they are not only misplaced, but redundant because this is described elsewhere better. See PR #1263.

[2020-11-03 21:12] #1250 closed

[2020-11-03 21:12] #1251 closed

[2020-11-03 21:23] #1259 closed

[2020-11-03 21:42] #1254 closed

[2020-11-03 21:44] #1252 closed

[2020-11-03 21:47] andreas-junghanns commented on #1256
Current PR #1258 should reflect your concerns now. Please check again.

[2020-11-04 08:49] #369 closed

[2020-11-04 08:49] #1255 closed

[2020-11-04 08:51] #1256 closed

[2020-11-04 14:29] GHannesen commented on #1246
My proposal is to simply remove the mandatory attributes from the **typedefinition ClockType** in order to avoid confusion.
The attribute 'priority' doesn't make sense there anyway.
And it will not be so painful, if the user has to specify the attribute 'clockType' in every clock referring to the declaredType.
Opinions?

[2020-11-04 19:04] chrbertsch commented on #1220
This would be my favorite as loing as we do not have a use case

[2020-11-06 15:59] #1165 closed

[2020-11-06 17:07] chrbertsch opened #1266 "FMI 2.0.2: Unit specification error regarding relativeQuantity"
Backport #1249 to FMI 2.0.2

[2020-11-10 19:27] chrbertsch commented on #843
@klausschuch :  Could you please provide a PR?

[2020-11-11 21:31] #1266 closed

[2020-11-12 06:39] chrbertsch opened #1269 "Typo in 3.2.4 Psudocode Example in FMI-Spec #276"
moved from https://github.com/modelica/fmi-standard.org/issues/276

tEnd should be Tend in Section 3.2.4 in FMI-Specification 2.0.1, reported by @GarronFish

[2020-11-12 20:25] chrbertsch commented on #1269
fixed directly in support/v2.0.2 and word as this is a minimal typo only.

[2020-11-12 20:25] #1269 closed

[2020-11-17 15:18] #1220 closed

[2020-11-17 20:41] klausschuch commented on #843
This issue was partly fixed with #1247.
The representation of string start values in the modelDescription.xml are not described yet because the xsd was not clear yet.
The pull-request #1241 to fix the xsd for array start values got merged meanwhile.
Hence, a pull request for the description of this mechanism can be created.

[2020-11-18 14:09] andreas-junghanns commented on #843
... by you?

[2020-11-19 15:35] iscopa opened #1270 "Error in 5.2.1.3 of current FMI 3 spec"
Hello,

I think the following statement in 5.2.1.3 is not correct

[...] _If an output clock with an attribute triggeredBy ticked, the scheduling algorithm schedules the model partition associated with the corresponding input clock._ []

Reason: Only an input clock can be "triggeredBy", so that the statement above should be reformulated, e.g.: If an output clock ticks and there is an input clock a

[2020-11-19 16:33] andreas-junghanns commented on #1270
@iscopa : thank you for the feedback - we are in the process of overhauling the entire clocks concept and will soon rewrite all related sections in the document. Please help us again AFTER this rewrite to spot such inconsistencies - thanks you!

[2020-12-28 22:35] t-sommer opened #1275 "Fix typo in FMI 2.0.2"
On page 104

should be

[2020-12-29 14:55] andreas-junghanns opened #1276 "Exclude *Configuration Mode* and *Reconfiguration Mode* from *FMU State Setable*"
We must not allow GetXXX function inside the configuration modes - there the state and the values of the variables are not clear because we are changing their dimensions.

Therefore, we either need to exclude the GetXXX calls inside these modes, or we exclude them from the current super state.

Proposal: We move *Configuration Mode* and *Reconfiguration Mode* outside of *FMU State Setable* (much l

[2020-12-29 19:21] chrbertsch commented on #1275
Fixed in adoc and Word with https://github.com/modelica/fmi-standard/commit/fe4bc7b6e34a7cf63895d265f9ef6aac2ef77549 and  https://github.com/modelica/fmi-design/commit/c82e30ae7851a5698f18d615faab65a0faa066b5

[2020-12-29 19:21] #1275 closed

[2021-01-06 13:21] andreas-junghanns commented on #1276
Reminder: check if certain function groups could be moved up to super state *FMU state setable* after that move.

[2021-01-06 15:38] andreas-junghanns opened #1277 "Fix use of fmi2GetEventIndicators for Initialization Mode"
fmi2GetEventIndicators can be called in Initialization Mode according to 3.2.3.

But it is missing in the mathematical description of Initialization Mode and in Table 1.

[2021-01-07 15:12] andreas-junghanns commented on #1277
Fix fmi2GetNominalsOfContinuousStates in Model Exchange table of allowed function calls for *Initialization Mode* (allow like in state machine).

[2021-01-08 07:51] andreas-junghanns opened #1278 "Allow fmi3GetXXX in super state FMU State Setable"
In FMI 2.0 fmi2GetXXX is not allowed in *Instantiated*, but allowed in all other states.
Exception: fmi2GetNominalsOfContinuousStates is allowed - seemingly inconcistently (see #1277).

We propose to simplify and imporve consistency, to allow all fmi3GetXXX functions also in super state *FMU State setable*, which includes *Instantiated*.

[2021-01-10 14:59] chrbertsch commented on #1278
OK for me.

What might have been a reason of forbidding  `fmi2GetXXX ` in _Instantiated_? That the values might change in _initialization_? But the importer knows the current statemchine state and can deal with this.

[2021-01-10 15:38] chrbertsch commented on #1277
@andreas-junghanns: Shall we change in Table 1  `fmi2getXXX, fmi2getContinuousStates`  to `fmi2GetINIT, fmi2GetDerivatives, fmi2GetEventIndicators`  (with a reference for INIT to the definition in the state machine)
![grafik](https://user-images.githubusercontent.com/16363372/104126949-adee3480-535f-11eb-9e2e-aa4b0e5012ac.png)

what is fmi2getXXX anyway? is it somewhere defined? Is XXX = {Real, In

[2021-01-11 11:00] andreas-junghanns commented on #1277
@TorstenBlochwitz : Do you have any preference how this should be done?

[2021-01-12 11:12] andreas-junghanns opened #1280 "Should it be allowed to call fmi3GetOutputDerivatives in *Intermediate Update Mode*?"
@TorstenBlochwitz is supporting such a change.

[2021-01-12 13:50] chrbertsch commented on #1280
I think this makes sense. E.g., in order to create an extrapolation/interolation polynomial, the importer can make use of any information it can get from the FMUs, also output derivatives.

If the there are no objections (especially from @clagms , @klausschuch  or @friedrichatgc ), I will create a PR.

[2021-01-12 16:00] andreas-junghanns commented on #1280
Massive changes are pending in #1272. Maybe you want to wait until @TorstenBlochwitz and I are done to avoid merge conflicts?

[2021-01-12 19:37] andreas-junghanns opened #1281 "Allow arbitrary get/set sequences in *Step Mode*"
The rest of the functionality remains the same, we only drop this artifical restriction (which did effectively introduce an internal state machine to Step Mode).

This way, one can get and set variables and only when doStep is called, time advances and the new get calls produce new values.

[2021-01-12 20:16] chrbertsch commented on #1281
This is non-normative text. Are calculations in fmi3Get dependent on an fmi3Set without an fmi3DoStep (contrary to this non-normative statement) allowed or forbidden?

I would explicitly forbid this, as we have event mode to do something like this. Otherwise I fear that some exporters will create "direct feedthrough CS FMUs without events".

[2021-01-15 10:46] KarlWernersson commented on #1278
Are we doing computations in instantiated?
With a get call I assume that any values set will be used to compute the new output/calcualtedparameters/locals.
This should preferably be done in initialization mode, so we don't get two initialization modes.
If we don't allow new computations in instantiated, what's the point?
It might also be difficult as an exporter might not store start values for fo

[2021-01-15 10:50] KarlWernersson commented on #1276
would that include not allow calls to set/getMFUState ?

[2021-01-15 11:03] andreas-junghanns commented on #1281
Thank you for the feedback - clarified and changed to normative text.

[2021-01-18 15:30] pavel-grozman commented on #1278
Från: KarlWernersson <notifications@github.com>
Skickat: den 15 januari 2021 11:46
Till: modelica/fmi-standard <fmi-standard@noreply.github.com>
Kopia: Subscribed <subscribed@noreply.github.com>
Ämne: Re: [modelica/fmi-standard] Allow fmi3GetXXX in super state FMU State Setable (#1278)

Are we doing computations in instantiated?
With a get call I assume that any values set will be used to compute

[2021-01-21 12:38] andreas-junghanns opened #1283 "Allow early return from fmi3DoStep for non-event-related reasons"
We propose to allow early return also for non-event-related reasons, such as requesting a communication point because of maxima reached that would be missed or to prevent model violations due to illegal extrapolated values to inputs.

If an importer does not support *Event Mode* but allows early return, this needs to be signaled.
Therefore we propose to add earlyReturnAllowed as argument to fmi3In

[2021-01-21 15:15] chrbertsch commented on #1283
Already included with https://github.com/modelica/fmi-standard/pull/1272/commits/3925c80811ebb48c8444ef33277dba5791bf94f3  in PR https://github.com/modelica/fmi-standard/pull/1272

[2021-01-22 14:52] andreas-junghanns commented on #1278
We agree with @KarlWernersson here and leave as is in FMI 2.0.

[2021-01-22 14:52] #1278 closed

[2021-01-22 14:56] andreas-junghanns opened #1284 "Disallow fmi3GetNominalsOfContinuousStates in Instantiated"
Calling fmi2GetNominalsOfContinuousStates (FMI 2.0!) is allowed in *Instantiated*, but not in *Initialization Mode*, according to the table representation. This is inconsistent with the state machine (Figure 6): there is is allowed everywhere.

@andreas-junghanns and @TorstenBlochwitz think that we should allow this just as fmi3Get{VariableType} (that is after *Instantiated*).

[2021-01-26 11:27] andreas-junghanns commented on #1136
We added an additional attribute to variables in XML: `supportsFraction` to announce support of fractions for a given clock.

[2021-01-26 13:42] andreas-junghanns opened #1285 "v_rest in partial derivatives unclear"
Please make sure the text and all restrictions to knowns and unknowns in the text are consistent.
Especially w.r.t. parameters.

Please wait until #1272 has been merged.

[2021-01-29 11:11] andreas-junghanns opened #1286 "drop calculatedParameter"
We propose to remove the special causality calculatedParameter - these are simply local variables, like many others.

Is there a good reason to keep them singled out?

[2021-01-29 11:18] andreas-junghanns opened #1287 "How to express DiscreteTimeStates"
Currently, discrete-time states are local variables referenced in (new) <ModelStructure><DiscreteTimeState>.
This means, they cannot be set.

For model-based controll applications, setting discrete-time states is required.

We can think of 2 ways to express this:
 1. introduce a new causality `state` and paired with variability `discrete`.
 2. formulate exceptions for local variables to be set in

[2021-01-29 12:11] andreas-junghanns opened #1288 "How to set Enumerations"
In FMI 2.0, we used `fmi2SetInteger` to set variables of type `<Enumeration>`.
We now have to define which of the new SetIntXX functions is to be used.

In order to be most general, we propose: fmi3GetInt64.

[2021-01-29 12:21] andreas-junghanns commented on #1288
Moreover: We need to change the XML element attribute types to hold SInt64 values (long): min, max, start, value

[2021-01-29 12:27] andreas-junghanns opened #1289 "start value definition in XSD"
Why do we define the start values as follows:
				<xs:attribute name="min" type="xs:long"/>
				<xs:attribute name="max" type="xs:long"/>
				<xs:attribute name="start">
					<xs:simpleType>
						<xs:list itemType="xs:long"/>
					</xs:simpleType>
				</xs:attribute>
and not fold the type in as for min/max?
Currently, the images exported do not show the type for the start attribute.

[2021-01-29 19:37] andreas-junghanns commented on #1270
Please check #1272 if this is clear enough now. If you do not object, this issue will be closed automatically when #1272 is merged.

[2021-01-29 19:49] andreas-junghanns commented on #1246
`clockType` is removed, `priority` is now only in `fmi3ClockAttributes`.
Please check if this addresses the issue you raised.
This issue will be closed automatically when #1272 is merged.

[2021-01-29 20:43] andreas-junghanns commented on #1239
This is now addressed with #1272 - please check if you are happy with the changes.
This issue will close automatically when #1272 is merged into master.

[2021-01-29 20:46] andreas-junghanns commented on #1238
#1272 addresses this now, hopefully clearly. Please check.
This issue closes automatically when #1272 is merged into master.

[2021-01-29 20:57] andreas-junghanns commented on #1215
We decided to leave clocks as normal variables, including the possiblity for them to be arrays.
Only allowing atomic clocks would make the standard more complex.
We are quite happy with the current solution as it unifies clocks into the general variable concept seemlessly.
Closing.

[2021-01-29 20:57] #1215 closed

[2021-01-29 21:22] andreas-junghanns commented on #1214
Output clocks are now normal output variables and this allows ModelStructure for Output elements to be applied and to relate output clocks to any number of inputs, including input clocks, even multiple input clocks.
This ticket closes when #1272 is merged into master.

[2021-01-29 21:29] andreas-junghanns commented on #1213
Clock unions are now completely gone.
Dependencies can be defined with normal ModelStructure dependencies.
TriggeredBy stays as concept as before and only applies to SE.
This issue closes automatically when #1272 is merged into the master.

[2021-01-29 21:37] andreas-junghanns commented on #1199
This should be clear now with #1272.
I would normally link #1272 to this to automatically close this issue when #1272 is merged, but this is somehow not possible now.
Closing this ticket instead.

[2021-01-29 21:37] #1199 closed

[2021-01-29 21:58] andreas-junghanns commented on #1171
See #1287.
#1272 defines DiscreteTimeState as subset of local variables. We decided against ClockedState, because clocked states are only a subset of DiscreteTimeState.
Closing ticket, because the maximal number of 10 linked issues per PR is reached for #1272.

[2021-01-29 21:58] #1171 closed

[2021-01-29 22:16] andreas-junghanns commented on #1188
#1272 addresses all these issues.
I cannot link #1272 because we reached the limit of 10 issues linked to a PR  therefore closing, please reopen you disagree.

[2021-01-29 22:16] #1188 closed

[2021-01-29 22:19] andreas-junghanns commented on #1184
There is no more reference to synchronuous clock theory in the entire text.

[2021-01-29 22:19] #1184 closed

[2021-01-30 22:28] andreas-junghanns commented on #1186
Fixed in #1272, see https://github.com/modelica/fmi-standard/pull/1272/commits/19f7cdcb2e48ea4737d4ba6f690e563bed69c777

[2021-01-30 22:28] #1186 closed

[2021-01-30 22:29] andreas-junghanns commented on #1161
Done in #1272.
Closing because the limit of 10 issues linked to #1272 was reached.

[2021-01-30 22:29] #1161 closed

[2021-01-30 22:30] andreas-junghanns commented on #1137
Done in #1272.
Closing because the limit of 10 issues linked to #1272 was reached.

[2021-01-30 22:30] #1137 closed

[2021-01-30 23:07] andreas-junghanns commented on #529
Fixed in https://github.com/modelica/fmi-standard/pull/1272/commits/2fbb798015828cbe5e7e734f48bcde343f76d2fb in #1272.
Closing here because the 10 issues that can be linked to a PR has been reached.

[2021-01-30 23:07] #529 closed

[2021-01-30 23:14] andreas-junghanns commented on #1285
v_{rest} is now explained well in #1272.
Closing since the 10 linked-issues limit is reached.

[2021-02-02 13:19] KarlWernersson commented on #1286
I would rather say that calculated parameters are fixed or tunable outputs, which currently isn't an allowed combination.
So if we drop them we should allow output with the variability fixed and tunable.

Next comes the model description.

Currently one must list calculated parameters in the initialUnknown section to list their dependencies.

For initial Unknowns

For output the current rule is th

[2021-02-02 13:53] KarlWernersson commented on #1287
1. We should not limit it to discrete but also allow continuous as variability.
   this would also have the consequence that the state/output combination is forbidden. It  could be a nice rule to simplify for importers.
2. Here we need to separate cs/me, for ME it is already allowed to set continuous states by local variables. For CS this is not allowed.

So for ME i dont see any isuse with whatev

[2021-02-02 19:12] chrbertsch commented on #1286
@KarlWernersson : I do not get it:
Why should (calculated) parameters be outputs? Outputs are typically connected to inputs of other models or FMUs.
And why should calculated paramters be tunable? I see tunable parameters as beeing set by user interaction during runtime.
And why should these outputs be fixed?

[2021-02-02 20:51] KarlWernersson commented on #1286
@chrbertsch
First short awnsers then a longer

Calculated parameters can be used as parameters for the environment outside the fmu or as a fixed input.. They are required to have model structure so dependency information can be set up for them during initalization. They are equivalent to outputs with variability fixed or tunable.

Say you have
[code]
  If p1 or p2 has variability tunable. cp has t

[2021-02-02 21:13] pmai commented on #1288
I'm a bit confused here; at the time we introduced the new integer types, this issue was discussed, where one alternative would have been to allow enumerations for all base integer types (the most flexible option, mirroring C), or stick with the old definition. If I don't remember incorrectly, we decided against the full fledged variant, and decided to align the enumerations with fmi3Int32, more o